<div class="row">
    <form class="form-single-row">
        <div class="form-group col-sm-3">
            <label>Gene</label>
            <p class="text-danger" ng-repeat="error in vm.errors.second">{{error}}</p>
            <input class="form-control"
                   url="/action/quicksearch/autocomplete?q=%QUERY&category=Gene+%2F+Transcript&type=Gene"
                   ng-model="vm.newGene"
                   autocompletify>
        </div>
        <div class="form-group col-sm-3">
            <label>Reference</label>
            <p class="text-danger" ng-repeat="error in vm.errors.references">{{error}}</p>
            <input pub-lookup class="form-control" ng-model="vm.newReference">
        </div>
        <div class="form-group col-sm-3">
            <button type="button" class="btn btn-primary"
                    ng-click="vm.add()"
                    ng-disabled="vm.processing || !vm.newGene || !vm.newReference">
                <span ng-hide="vm.processing">Add</span>
                <i ng-show="vm.processing" class="fa fa-spinner fa-spin"></i>
            </button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-sm-6">
        <p class="text-muted" ng-hide="vm.relationships.length">
            <i>No {{vm.relativeName}} yet</i>
        </p>
        <table class="table" ng-show="vm.relationships.length">
            <tr ng-repeat="relationship in vm.relationships">
                <td>
                    {{relationship.second.name}} ({{relationship.references.length}})
                    <span class="small pull-right">
                        <a href ng-click="vm.edit(relationship)">Edit References</a>
                        <span ng-show="vm.relationships.length > 1">
                            | <a href ng-click="vm.remove(relationship, $index)">Remove</a>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>

<div reference-editor
     show="vm.editing != null"
     entity="vm.editing.second.name"
     references="vm.editing.references"
     on-add="vm.addReference(pubId)"
     on-remove="vm.removeReference(reference, index)"
     on-close="vm.closeEditModal()">
</div>
