<table class="primary-entity-attributes">
    <tr ng-show="vm.showGenePicker">
        <th>Zebrafish gene</th>
        <td>
            <form class="curation-form">
                <select ng-model="vm.gene"
                        ng-options="gene.zdbID as gene.name for gene in vm.genes"
                        ng-change="vm.fetchOrthology()"></select>
            </form>
        </td>
    </tr>
    <tr ng-show="vm.edit">
        <th>Import from NCBI</th>
        <td>
            <form class="curation-form curation-inline">
                <input type="text" ng-model="vm.ncbiGeneNumber" ng-change="vm.ncbiError = ''">
                <button type="button" class="zfin-button" ng-click="vm.addOrtholog()">Import</button>
                <div class="error" ng-show="vm.ncbiError">{{vm.ncbiError}}</div>
            </form>
        </td>
    </tr>
</table>

<div class="error" ng-show="vm.generalError">{{vm.generalError}}</div>
<div ng-show="vm.orthologsLoading" class="loading-overlay"><i class="fa fa-spinner fa-spin"></i></div>
<table class="ortholog-table summary basicstripes">
    <thead>
    <tr>
        <th ng-show="vm.edit"></th>
        <th>Species</th>
        <th>Symbol</th>
        <th>Chromosome</th>
        <th>Accession #</th>
        <th>Evidence</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="!vm.gene">
        <td class="no-data" colspan="6">Select a Zebrafish Gene to Curate Orthology</td>
    </tr>
    <tr ng-show="vm.gene && vm.orthologs.length == 0">
        <td class="no-data" colspan="6">No Orthologs Yet</td>
    </tr>
    <tr ng-repeat="ortholog in vm.orthologs">
        <td ng-show="vm.edit"><a href ng-click="vm.confirmDeleteOrtholog(ortholog)">Delete</a></td>
        <td>{{ortholog.ncbiOtherSpeciesGeneDTO.organism}}</td>
        <td><i>{{ortholog.ncbiOtherSpeciesGeneDTO.abbreviation}}</i></td>
        <td>{{ortholog.ncbiOtherSpeciesGeneDTO.chromosome}}</td>
        <td>
            <div ng-repeat="reference in ortholog.orthologExternalReferenceDTOSet">
                <a ng-href="{{reference.referenceDatabaseDTO.url}}{{reference.accessionNumber}}">
                    {{reference.referenceDatabaseDTO.name}}:{{reference.accessionNumber}}
                </a>
            </div>
        </td>
        <td ng-show="vm.edit">
            <div ng-repeat="ev in ortholog.evidenceArray">
                <a ng-href="/{{ev.publication.zdbID}}" ng-attr-title="{{ev.publication.citation}}">
                    {{ev.publication.zdbID | pub}}
                </a>: {{ev.asList()}}
                <a href class="clickable" ng-click="vm.editEvidence(ortholog, ev, $index)"><i
                        class="fa fa-fw fa-pencil"style="color: red"></i></a>
                <a href class="clickable" ng-click="vm.deleteEvidence(ortholog, ev, $index)"><i
                        class="fa fa-fw fa-trash"style="color: red"></i></a>
            </div>
            <a href ng-click="vm.addEvidence(ortholog)">Add</a>
        </td>
        <td ng-show="!vm.edit">
            <div ng-repeat="ev in ortholog.evidenceSetGroupedByCode">
                {{ev.name}}
                <span ng-if="ev.pubIds.length == 1">(<a href="/{{ev.pubIds[0]}}">1</a>)</span>
                <span ng-if="ev.pubIds.length > 1">(<a
                        href="/action/ortholog/{{ortholog.zdbID}}/citation-list?evidenceCode={{ev.code}}">{{ev.pubIds.length}}</a>)</span>
            </div>
        </td>
    </tr>
</table>
<a href="/action/marker/${marker.zdbID}/download/orthology" ng-if="vm.showDownloadLink"><i class="fa fa-download"></i>
    Download Curated Orthology</a>


<div class="summary" ng-show="vm.gene">
    <b>Orthology Note</b>

    <div inline-edit-textarea
         text="vm.note.note"
         error="vm.noteError"
         on-save="vm.saveNoteEdit()"
         wrapper-class="'curation-form'"
         save-button-class="'zfin-button approve'"
         cancel-button-class="'zfin-button cancel'"
         ng-if="vm.edit"></div>
    <div ng-if="!vm.edit">
        {{vm.note.note}}
    </div>
</div>

<div id="evidence-modal" class="jq-modal curation">
    <h3>
        Evidence for {{vm.modalOrtholog.ncbiOtherSpeciesGeneDTO.organism}}
        <i>{{vm.modalOrtholog.ncbiOtherSpeciesGeneDTO.abbreviation}}</i> ortholog
    </h3>

    <div class="curation-form">
        <label>Publication</label>

        <div class="list-select">
            <input pub-display
                   type="text"
                   class="list-select-text"
                   ng-model="vm.modalEvidence.publication.zdbID"
                   ng-disabled="vm.modalEvidenceIndex > -1"
                   ng-change="vm.checkPub()">
            <ul class="list-select-options">
                <li ng-repeat="pub in vm.pubs" ng-click="vm.selectPub(pub)">
                    {{pub.zdbID | pub}}
                </li>
            </ul>
        </div>

        <div class="error" ng-show="vm.evidencePublicationError">
            {{vm.evidencePublicationError}}
        </div>

        <p class="warning" ng-show="vm.evidencePublicationWarning">
            {{vm.modalEvidence.publication.zdbID | pub}} is already a reference for
            {{vm.modalOrtholog.ncbiOtherSpeciesGeneDTO.organism}}
            <i>{{vm.modalOrtholog.ncbiOtherSpeciesGeneDTO.abbreviation}}</i> orthology. You
            are now editing the existing record.
        </p>

        <label>Evidence Codes</label>

        <div class="list-select keep-open">
            <input class="list-select-text" ng-value="vm.modalEvidence.asList()" readonly>
            <ul class="list-select-options">
                <li ng-repeat="code in vm.modalEvidence.codes">
                    <label>
                        <input type="checkbox" ng-model="code.selected" ng-change="vm.evidenceCodeError = ''">
                        {{code.name}} ({{code.code}})
                    </label>
                </li>
            </ul>
        </div>
        <div class="error" ng-show="vm.evidenceCodeError">{{vm.evidenceCodeError}}</div>

        <div class="popup-actions">
            <button type="button" class="zfin-button cancel" ng-click="vm.cancelEvidence()">Cancel</button>
            <button type="button" class="zfin-button approve" ng-click="vm.saveEvidence()">Save</button>
        </div>
    </div>
</div>

<div id="delete-ortholog-modal" class="jq-modal curation">
    <h3>
        Delete {{vm.modalOrtholog.ncbiOtherSpeciesGeneDTO.organism}}
        <i>{{vm.modalOrtholog.ncbiOtherSpeciesGeneDTO.abbreviation}}</i> ortholog?
    </h3>

    <div class="popup-actions">
        <button type="button" class="zfin-button cancel" ng-click="vm.cancelDelete()">Cancel</button>
        <button type="button" class="zfin-button reject" ng-click="vm.deleteOrtholog()">Delete</button>
    </div>
</div>
