
<span ng-show="om.edit" style="cursor: pointer;">
    <i style="color: red; font-weight: bold;" title="Create new other marker link" ng-click="om.openAddOtherMarkerLink()">New</i>
</span>
<table class="summary" ng-show="om.links.length">
    <tr><td ng-repeat="link in om.links"><a ng-if="link.referenceDatabaseName!='Alliance'" ng-href="{{link.urlPrefix + link.accession}}">{{link.referenceDatabaseName}}:{{link.accession}}</a>
        <a ng-if="link.referenceDatabaseName=='Alliance'" ng-href="{{link.urlPrefix + link.accession}}">{{link.referenceDatabaseName}}</a>

        <span ng-if="link.referenceDatabaseName!='Alliance'" ng-bind-html="link.refLink"></span><span ng-if="link.referenceDatabaseName!='Alliance'" ng-show="om.edit" style="cursor: pointer;"
                                           ng-click="om.openEditAttribution(link, $index)"><i class="fa fa-pencil red" aria-hidden="true"
                                                                                              title="Edit attributions"></i></span>
            <span ng-if="link.referenceDatabaseName!='Alliance'" ng-show="om.edit" style="cursor: pointer;"
                                           ng-click="om.openDeleteOtherMarkerLink(link,$index)">
                       <i class="fa fa-trash red" aria-hidden="true" title="Delete the link"></i></span>
    </td></tr>
</table>
<div id="new-other-marker-link-modal" class="jq-modal curation">
    <h3>
        Add New Other Marker Page Link
    </h3>
    <table class="table table-condensed">
        <tr>
            <td>Database:</td><td><select class="form-control"
                                          ng-model="om.newDatabase"
                                          ng-options="database.zdbID as database.name for database in om.databases"></select></td>
        </tr>
        <tr>
            <td>Accession:</td><td><input name="newAcc" ng-model="om.newAccession" /></td>
        </tr>
        <tr>
            <td>Reference:</td><td><input name="newRef" ng-model="om.newReference" /></td>
        </tr>
        <tr>
            <td>
                <div class="popup-actions">
                    <button class="zfin-button cancel" ng-click="om.close()">Cancel</button>
                    <button class="zfin-button approve" ng-click="om.addOtherMarkerLink()">Add</button>
                </div>
            </td>
        </tr>
    </table>
    <span ng-bind-html="om.errorRef | unsafe" class="error"></span>
    <span ng-bind-html="om.errorMessage | unsafe" class="error" ng-show="om.errorRef === ''"></span>
</div>
<div id="delete-other-marker-link-modal" class="jq-modal curation">
    <h3>
        Delete Other Marker Page Link
    </h3>
    <table class="table table-condensed">
        <tr>
            <td>
                <a style="font-weight: bold;" target="_blank" ng-href="{{om.otherLink.urlPrefix + om.otherLink.accession}}">{{om.otherLink.referenceDatabaseName}}:{{om.otherLink.accession}}</a>
            </td>
        </tr>
        <tr ng-repeat="ref in om.otherLink.references">
            <td>
                {{ref.zdbID}}<br>
                <span ng-if="ref.title.length < 80"><a target="_blank" ng-href="/{{ref.zdbID}}">{{ref.title}}</a>
                    </span>
                <span ng-if="ref.title.length >= 80"><a target="_blank" ng-href="/{{ref.zdbID}}">{{ref.title | limitTo:55}}...</a>
                    </span>
            </td>
        </tr>
        <tr>
            <td>
                <div class="popup-actions">
                    <button class="zfin-button cancel" ng-click="om.close()">Cancel</button>
                    <button class="zfin-button reject" ng-click="om.deleteOtherMarkerLink()">Delete</button>
                </div>
            </td>
        </tr>
    </table>
    <span ng-bind-html="om.errorMessage | unsafe" class="error"></span>
</div>
<div id="other-marker-attribution-modal" class="jq-modal curation">
    <h3>
        Attributions for <a style="font-weight: bold;" target="_blank" ng-href="{{om.otherLink.urlPrefix + om.otherLink.accession}}">{{om.otherLink.referenceDatabaseName}}:{{om.otherLink.accession}}</a>
    </h3>
    <table>
        <tr ng-repeat="ref in om.otherLink.references">
            <td><a target="_blank" ng-href="/{{ref.zdbID}}">{{ref.zdbID}}</a></td>
            <td><a ng-show="om.otherLink.references.length > 1" ng-click="om.deleteAttribution($index)" href><img src="/images/delete-button.png" />
            </a></td>
        </tr>
        <tr>
            <td colspan="2">
                <input size="20" name="publicationID" ng-model="om.newReference" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <button ng-click="om.close()" class="zfin-button cancel">Close</button>
                <button ng-click="om.addAttribution()" class="zfin-button approve">Add</button>
            </td>
        </tr>
    </table>
    <span ng-bind-html="om.errorMessage | unsafe" class="error"></span>
</div>


