<div class="row bottom-buffer">
    <div class="col-sm-12">
        <button class="btn btn-default" ng-click="vm.openSendForm()">Send Email</button>
        <button class="btn btn-default" ng-click="vm.openResponseForm()">Record Reply</button>
    </div>
</div>

<form class="form-horizontal" ng-show="vm.newEmail">
    <div class="form-group">
        <label class="col-sm-2 control-label">To</label>
        <div class="col-sm-4">
            <div ng-show="vm.newEmail.outgoing">
                <div class="checkbox" ng-repeat="author in vm.authors">
                    <label>
                        <input class="author-email" type="checkbox" ng-model="author.send"> {{author.display}}
                    </label>
                </div>
                <div ng-class="{checkbox: vm.authors.length}">
                    <input class="form-control" placeholder="alice@example.edu" ng-model="vm.newEmail.additionalTo">
                </div>
            </div>
            <p class="form-control-static" ng-show="!vm.newEmail.outgoing">{{vm.newEmail.to}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">From</label>
        <div class="col-sm-4">
            <input class="form-control" ng-show="!vm.newEmail.outgoing" placeholder="alice@example.edu" ng-model="vm.newEmail.from">
            <p class="form-control-static" ng-show="vm.newEmail.outgoing">{{vm.newEmail.from.email}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Subject</label>
        <div class="col-sm-6">
            <input class="form-control" ng-model="vm.newEmail.subject">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Message</label>
        <div class="col-sm-6">
            <textarea class="form-control" rows="5" ng-model="vm.newEmail.message"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" ng-click="vm.closeForm()">Cancel</button>
            <button class="btn btn-primary" ng-click="vm.sendMessage()">Send</button>
        </div>
    </div>
</form>

<div ng-repeat="correspondence in vm.correspondences">
    <hr>
    <div><strong>Date:</strong> {{correspondence.date | date: 'yyyy-MM-dd'}}</div>
    <div><strong>From:</strong> {{correspondence.from.email}}</div>
    <div><strong>To:</strong> {{vm.emailList(correspondence.to)}}</div>
    <div><strong>Subject:</strong> {{correspondence.subject}}</div>
    <div ng-class="correspondence.expanded ? 'keep-breaks' : 'one-line-preview'"><i ng-class="['icon-toggle', 'fa', 'fa-fw', 'fa-chevron-right', {open: correspondence.expanded}]" ng-click="correspondence.expanded = !correspondence.expanded"></i> {{correspondence.message}}</div>
</div>