<div ng-cloak ng-show="vm.status">
    <div class="row bottom-buffer">
        <div class="col-xs-4 col-xs-offset-1" >
            <div ng-if="vm.status.indexed">
                <h4>Indexed on {{vm.status.indexedDate | date:'yyyy-MM-dd'}}</h4>
                <button class="btn btn-default btn-block" ng-click="vm.unindexPub()">Un-index</button>
            </div>
            <div ng-if="!vm.status.indexed">
                <h4>Not indexed yet</h4>
                <button class="btn btn-primary btn-block" ng-click="vm.indexPub()">Index</button>
            </div>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
            <div ng-if="!vm.status.closedDate">
                <h4>Not closed yet</h4>
                <button class="btn btn-primary btn-block" ng-click="vm.validateForClose()">
                    <span ng-show="!vm.hasTopics()">Close with no data found</span>
                    <span ng-show="vm.hasTopics()">Close</span>
                </button>
            </div>
            <div ng-if="vm.status.closedDate">
                <h4>Closed on {{vm.status.closedDate | date:"yyyy-MM-dd"}}</h4>
                <button class="btn btn-default btn-block" ng-click="vm.reopenPub()">Reopen</button>
            </div>
        </div>
    </div>
    <div class="alert alert-warning" role="alert" ng-show="vm.warnings.length > 0">
        <h4>Heads up!</h4>
        <p class="bottom-buffer-sm">You might not want to close this publication yet. Are you sure you want to close it?</p>
        <ul class="bottom-buffer">
            <li ng-repeat="warning in vm.warnings">
                {{warning}}
            </li>
        </ul>
        <p>
            <button class="btn btn-warning" ng-click="vm.closePub()">Yes, close it</button>
            <button class="btn btn-default" ng-click="vm.cancelClosePub()">Cancel</button>
        </p>
    </div>
</div>

