<div class="row bottom-buffer">
    <div class="col-sm-12">
        <button class="btn btn-default" ng-click="vm.openSendForm()">Send Email</button>
        <button class="btn btn-default" ng-click="vm.openResponseForm()">Record Reply</button>
    </div>
</div>

<form class="form-horizontal" ng-show="vm.newEmail">
    <div class="form-group">
        <label class="col-sm-2 control-label">To</label>
        <div class="col-sm-4">
            <div ng-show="vm.newEmail.outgoing">
                <div class="checkbox" ng-repeat="author in vm.authors" ng-show="!vm.newEmail.reply">
                    <label>
                        <input class="author-email" type="checkbox" ng-model="author.send"> {{author.display}}
                    </label>
                </div>
                <div ng-class="{checkbox: vm.authors.length}">
                    <input class="form-control" placeholder="alice@example.edu" ng-model="vm.newEmail.additionalTo">
                </div>
            </div>
            <p class="form-control-static" ng-show="!vm.newEmail.outgoing">{{vm.newEmail.to[0].email}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">From</label>
        <div class="col-sm-4">
            <input class="form-control" ng-show="!vm.newEmail.outgoing" placeholder="alice@example.edu" ng-model="vm.newEmail.from.email">
            <p class="form-control-static" ng-show="vm.newEmail.outgoing">{{vm.newEmail.from.email}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Subject</label>
        <div class="col-sm-6">
            <input class="form-control" ng-model="vm.newEmail.subject">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Message</label>
        <div class="col-sm-6">
            <textarea class="form-control" rows="5" ng-model="vm.newEmail.message"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" ng-click="vm.closeForm()">Cancel</button>
            <button class="btn btn-primary" ng-click="vm.sendMessage()" ng-show="vm.newEmail.outgoing" ng-disabled="!vm.isValid() || vm.processing">
                <span ng-show="!vm.processing">Send</span>
                <span ng-show="vm.processing"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
            <button class="btn btn-primary" ng-click="vm.saveReply()" ng-show="!vm.newEmail.outgoing" ng-disabled="!vm.isValid() || vm.processing">
                <span ng-show="!vm.processing">Save</span>
                <span ng-show="vm.processing"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
        </div>
    </div>
</form>

<div class="alert alert-success" role="alert" ng-show="vm.successMessage">
    <button type="button" class="close" ng-click="vm.successMessage = ''">&times;</button>
    {{vm.successMessage}}
</div>

<div class="alert alert-danger" role="alert" ng-show="vm.errorMessage">
    <button type="button" class="close" ng-click="vm.errorMessage = ''">&times;</button>
    {{vm.errorMessage}}
</div>

<div ng-show="!vm.correspondences.length">
    <hr>
    <div class="text-muted text-center">No correspondences yet</div>
</div>

<div ng-repeat="correspondence in vm.correspondences">
    <hr>
    <div ng-if="correspondence.resend">
        <strong>{{correspondence.date | date: 'yyyy-MM-dd'}}</strong> <span class="text-muted">Resent email from {{correspondence.composedDate | date: 'yyyy-MM-dd'}}</span>
    </div>
    <div ng-if="!correspondence.resend">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu" ng-show="correspondence.outgoing">
                <li ng-class="{disabled: correspondence.to.length == 0}"><a href ng-click="vm.resendMessage(correspondence)">Resend</a></li>
                <li><a href ng-click="vm.openReplyForMessage(correspondence)">Record Reply</a></li>
                <li><a href ng-click="vm.deleteCorrespondence(correspondence, $index)">Delete</a></li>
            </ul>
            <ul class="dropdown-menu" ng-show="!correspondence.outgoing">
                <li><a href ng-click="vm.sendReply(correspondence)">Reply</a></li>
                <li><a href ng-click="vm.deleteCorrespondence(correspondence, $index)">Delete</a></li>
            </ul>
        </div>
        <div><strong>{{correspondence.date | date: 'yyyy-MM-dd'}}</strong></div>
        <div><strong>From:</strong> {{correspondence.from.email}}</div>
        <div><strong>To:</strong> {{vm.emailList(correspondence.to)}}</div>
        <div><strong>Subject:</strong> {{correspondence.subject}}</div>
        <div ng-class="correspondence.expanded ? 'keep-breaks' : 'one-line-preview'"><i ng-class="['icon-toggle', 'fa', 'fa-fw', 'fa-chevron-right', {open: correspondence.expanded}]" ng-click="correspondence.expanded = !correspondence.expanded"></i> {{correspondence.message}}</div>
    </div>
</div>
