<div class="panel-body">
    <div ng-show="!vm.editing && !vm.previewing">
        <label>Registered Authors</label>
        <ul class="list-unstyled">
            <li ng-repeat="author in vm.authors">
                <input class="author-email" type="checkbox" checked ng-model="author.send"> {{author.display}}
            </li>
        </ul>
        <div class="form-group">
            <label for="additional-emails">Additional Recipients</label>
            <input ng-model="vm.additionalRecipients"
                   class="form-control" id="additional-emails"
                   type="text" placeholder="alice@example.com, bob@example.net"/>
        </div>

        <button class="btn btn-primary" type="button"
                ng-disabled="vm.hasNoRecipients() || vm.loading"
                ng-click="vm.editNotification()">
            <span ng-show="!vm.loading">Edit Notification</span>
            <i ng-show="vm.loading" class="fa fa-spinner fa-spin"></i>
        </button>
    </div>

    <div ng-show="vm.editing || vm.previewing">
        <b>Recipients: </b> {{ vm.recipients.join(", ") }}
    </div>

    <div ng-show="vm.editing">
        <div class="form-inline notif-letter">
            <p>{{vm.salutation}} <input class="form-control" style="width: 500px;" ng-model="vm.names">,</p>
            <p>{{vm.intro}}</p>
            <p><a ng-href="{{vm.pubLink}}">{{vm.pubReference}}</a></p>
            <p>{{vm.dataNote}}</p>
            <div ng-bind-html="vm.generateDataLinks()"></div>
            <p><textarea class="form-control" ng-model="vm.customNote" cols="80" rows="4"></textarea></p>
            <p>{{vm.zfinDescription}}</p>
            <p>{{vm.signOff}},</p>
            <p>{{vm.sender.name}}<br>
                {{vm.sender.group}}<br>
                {{vm.sender.email}}</p>
            <p>{{vm.address[0]}}<br>
                {{vm.address[1]}}<br>
                {{vm.address[2]}}</p>
        </div>
        <button class="btn btn-primary" type="button" ng-click="vm.previewNotification()">Preview Notification</button>
        <button class="btn btn-default" type="button" ng-click="vm.cancelNotificationEditing()">Cancel</button>
    </div>

    <div ng-show="vm.previewing">
        <div class="notif-letter" ng-bind-html="vm.generateNotification()">
        </div>
        <button class="btn btn-primary" type="button" ng-click="vm.sendNotification()" ng-disabled="vm.loading">
            <span ng-show="!vm.loading">Send Notification</span>
            <i ng-show="vm.loading" class="fa fa-spinner fa-spin"></i>
        </button>
        <button class="btn btn-default" type="button" ng-click="vm.cancelNotificationPreview()">Cancel</button>
    </div>

    <div class="notif-letter-alert">
        <div class="alert alert-success" ng-show="vm.sendSuccess">
            Message has been sent.
        </div>
        <div class="alert alert-danger" ng-show="vm.sendError">
            Something went wrong while sending the message.
        </div>
    </div>
</div>