<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-4r %-5p %c %x - %m%n"/>
        </layout>
    </appender>

    <appender name="MAIN" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="./zfin_log4j.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="1MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c{2} - %m%n"/>
        </layout>
    </appender>

    <category name="org.zfin.properties" additivity="true">
		<!--<priority value="DEBUG"/>-->
        <priority value="INFO"/>
    </category>

    <category name="org.zfin" additivity="false">
<!--		<priority value="DEBUG"/> -->
		<priority value="INFO"/>
        <appender-ref ref="stdout"/>
    </category>

    <!-- Log the actual Hibernate Query Language (HQL) expression -->
    <category name="org.hibernate.impl.SessionImpl">
<!--        <priority value="DEBUG"/>-->
		<priority value="INFO"/> 
    </category>

    <!-- Log the substitution parameters in the HQL expression -->
    <category name="org.hibernate.engine.QueryParameters">
<!--        <priority value="trace"/>-->
    </category>

    <!-- Log the real SQL -->
    <category name="org.hibernate.SQL">
		<priority value="INFO"/>
<!--        <priority value="DEBUG"/> -->
    </category>

    <category name="org.hibernate.type">
<!--        <priority value="trace"/> -->
		<priority value="info"/>
    </category>

	<category name="com.gargoylesoftware.htmlunit">
		<priority value="ERROR"/>
	</category>

    <!-- Log the parameter substitutions in the SQL statement. Unfortunately logging org.hibernate gives a lot of other junk as well -->
    <category name="org.hibernate">
		<priority value="ERROR"/> 
<!--        <priority value="DEBUG"/>-->
<!--        <priority value="INFO"/> -->
    </category>
    
    <root>
        <priority value="info"/>
        <appender-ref ref="stdout"/>
        <!--        <appender-ref ref="MAIN" />-->
    </root>
</log4j:configuration>
