<#import "report-layout.ftl" as layout>
<@layout.reportLayout>

Statistics:
<table class="result rowstripes">
    <tbody>
    <tr>
        <th>Created Wiki Pages</th>
        <td>${createdAntibodies?size}</td>
    </tr>
    <tr>
        <th>Updated Wiki Pages</th>
        <td>${updatedAntibodies?size}</td>
    </tr>
    <tr>
        <th>Dropped Wiki Pages</th>
        <td>${droppedAntibodies?size}</td>
    </tr>
    </tbody>
</table>

</@layout.reportLayout>