{show-to:users=@authenticated}
{add-page:template=antibody|parent=@home|labels=community_antibody|allowRename=true|live=true}Create New Antibody{add-page}
{show-to}

{link-to:add comment}Add Comment{link-to}

{table-plus:columnAttributes=style=width:20%|sortIcon=true}
|| Antibody&nbsp;Name: | {text-data:AntibodyName}{page-info:title}{text-data} ||
|| Other names, clone ids, catalog ids etc. | {text-data:OtherInfo}{text-data} ||
|| Does it work on zebrafish\? | {list-data:WorksOnZebrafish}{list-option}yes{list-option}{list-option}no{list-option}{list-data} ||
|| Host organism | {text-data:HostOrganism}{text-data} ||
|| Immunogen organism| {text-data:ImmunogenOrganism}{text-data} ||
|| Antibody isotype | {text-data:AntibodyIsotype}{text-data} ||
|| Antibody type | {text-data:AntibodyType}{text-data} ||
|| Anatomical structures recognized \\
(use terms from the [ZFIN Anatomical Ontology|http://zfin.org/action/anatomy/anatomy-search]) | {text-data:AnatomicalStructuresRecognized}{text-data} ||
|| Recognized target molecules (gene names, domains, epitopes ...)  | {text-data:RecognizedTargetMolecules}{text-data} ||
|| Recognized ZFIN genes \\
current ZFIN-gene symbols only [ZFIN Gene Search|http://zfin.org/cgi-bin/webdriver?MIval=aa-newmrkrselect.apg] | {text-data:ZFINGenes}{text-data} ||
|| Supplier(s) | {text-data:Suppliers}{text-data} ||
{table-plus}

h3. Assays Tested

|| Assay || Prep ||Worked || Notes ||
{table:Assays Tested}


h3. Notes
{text-data:Comments|type=area|width=400px|height=150px}{text-data}
