<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
        Acegi Security configuration.
-->
<beans>

    <!--
        Elements in this list define the servlet filters being executed in the order given.
        Be careful in making changes to the order.
    -->
    <bean id="filterChainProxy" class="org.acegisecurity.util.FilterChainProxy">
        <property name="filterInvocationDefinitionSource">
            <value>
                CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
                PATTERN_TYPE_APACHE_ANT
                /action/**=channelProcessingFilter,concurrentSessionHandlingFilter,httpSessionContextIntegrationFilter,logoutFilter,authenticationProcessingFilter,anonymousProcessingFilter,exceptionTranslationFilter,authorizationProcessingFilter,checkUpdates
                /ajax/**=httpSessionContextIntegrationFilter,authenticationProcessingFilter,exceptionTranslationFilterAjax,authorizationProcessingFilter,checkUpdates
            </value>
        </property>
    </bean>

    <bean id="concurrentSessionHandlingFilter" class="org.acegisecurity.concurrent.ConcurrentSessionFilter">
        <property name="sessionRegistry">
            <ref bean="sessionRegistry"/>
        </property>
        <property name="expiredUrl">
            <value>/WEB-INF/</value>
        </property>
    </bean>

    <bean id="sessionRegistry" class="org.acegisecurity.concurrent.SessionRegistryImpl"/>

    <bean id="channelProcessingFilter" class="org.acegisecurity.securechannel.ChannelProcessingFilter">
        <property name="channelDecisionManager">
            <ref bean="channelDecisionManager"/>
        </property>
	<property name="filterInvocationDefinitionSource">
            <value>
                CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
                PATTERN_TYPE_APACHE_ANT
		        /action/dev-tools/**=REQUIRES_SECURE_CHANNEL
                /action/audit-log/**=REQUIRES_SECURE_CHANNEL
                /action/security-check=REQUIRES_SECURE_CHANNEL
                /action/people/edit-user=REQUIRES_SECURE_CHANNEL
                /action/login-redirect=REQUIRES_SECURE_CHANNEL
                /**=REQUIRES_INSECURE_CHANNEL
            </value>
        </property>
    </bean>

    <bean id="channelDecisionManager" class="org.acegisecurity.securechannel.ChannelDecisionManagerImpl">
        <property name="channelProcessors">
            <list>
                <ref bean="secureChannelProcessor"/>
                <ref bean="insecureChannelProcessor"/>
            </list>
        </property>
    </bean>

    <bean id="portMapper" class="org.zfin.security.PortMapperImpl">
    </bean>

    <bean id="secureChannelProcessor" class="org.acegisecurity.securechannel.SecureChannelProcessor">
        <property name="entryPoint">
            <ref bean="retryWithHttpsEntryPoint"/>
        </property>
    </bean>

    <bean id="retryWithHttpsEntryPoint" class="org.acegisecurity.securechannel.RetryWithHttpsEntryPoint">
        <property name="portMapper">
            <ref bean="portMapper"/>
        </property>
    </bean>

    <bean id="retryWithHttpEntryPoint" class="org.acegisecurity.securechannel.RetryWithHttpEntryPoint">
        <property name="portMapper">
            <ref bean="portMapper"/>
        </property>
    </bean>

    <bean id="insecureChannelProcessor" class="org.acegisecurity.securechannel.InsecureChannelProcessor">
        <property name="entryPoint">
            <ref bean="retryWithHttpEntryPoint"/>
        </property>
    </bean>

    <bean id="httpSessionContextIntegrationFilter"
          class="org.acegisecurity.context.HttpSessionContextIntegrationFilter"/>

    <bean id="checkUpdates" class="org.zfin.framework.filter.UpdatesCheckFilter">
        <property name="securityHandler" ref="logoutHandler"/>
    </bean>

    <bean id="logoutFilter" class="org.acegisecurity.ui.logout.LogoutFilter">
        <!-- URL redirected to after logout -->
        <constructor-arg value="/action/http-redirect"/>
        <constructor-arg>
            <list>
                <ref bean="logoutHandler"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="logoutHandler" class="org.zfin.security.ZfinSecurityContextLogoutHandler">
        <property name="ur" ref="userRepository"/>
    </bean>

    <bean id="userRepository" class="org.zfin.security.repository.HibernateUserRepository"/>

    <bean id="authenticationProcessingFilter" class="org.zfin.security.ZfinAuthenticationProcessingFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="authenticationFailureUrl" value="/action/login-redirect?error=true"/>
        <property name="defaultTargetUrl" value="/action/http-redirect"/>
        <property name="filterProcessesUrl" value="/action/security-check"/>
    </bean>

    <bean id="anonymousProcessingFilter" class="org.acegisecurity.providers.anonymous.AnonymousProcessingFilter">
        <property name="key" value="changeThis"/>
        <property name="userAttribute" value="anonymousUser,guest"/>
    </bean>

    <bean id="exceptionTranslationFilter" class="org.acegisecurity.ui.ExceptionTranslationFilter">
        <property name="authenticationEntryPoint">
            <bean class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilterEntryPoint">
                <property name="loginFormUrl" value="/action/login"/>
                <property name="forceHttps" value="false"/>
            </bean>
        </property>
        <property name="accessDeniedHandler">
            <bean class="org.acegisecurity.ui.AccessDeniedHandlerImpl">
                <property name="errorPage" value="/action/login?access-denied=true"/>
            </bean>
        </property>
        <property name="portResolver">
            <bean class="org.acegisecurity.util.PortResolverImpl">
                <property name="portMapper" ref="portMapper"/>
            </bean>
        </property>
    </bean>

    <bean id="exceptionTranslationFilterAjax" class="org.acegisecurity.ui.ExceptionTranslationFilter">
        <property name="authenticationEntryPoint">
            <bean class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilterEntryPoint">
                <property name="loginFormUrl" value="/action/ajax/login-required"/>
            </bean>
        </property>
        <property name="accessDeniedHandler">
            <bean class="org.acegisecurity.ui.AccessDeniedHandlerImpl">
                <property name="errorPage" value="/javascript/ajax-lib/ajax-authorization-error.html"/>
            </bean>
        </property>
    </bean>

    <bean id="authorizationProcessingFilter" class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="accessDecisionManager">
            <ref bean="accessDecisionManager"/>
        </property>
        <property name="objectDefinitionSource">
            <value>
                CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
                PATTERN_TYPE_APACHE_ANT
                /login_form.jsp=guest
                /action/*=guest,root,submit
                /action/dev-tools/*=root
                /action/audit-log/*=root
                /action/reno/*=root
                /action/people/edit-user=root,submit
                /action/webdriver/secure/*=root,submit
                /action/antibody/create=root
                /action/antibody/update-details=root
                /ajax/session-save=root
                /ajax/curation=root
            </value>
        </property>
    </bean>

    <bean id="accessDecisionManager" class="org.acegisecurity.vote.AffirmativeBased">
        <property name="allowIfAllAbstainDecisions" value="false"/>
        <property name="decisionVoters">
            <list>
                <bean class="org.zfin.security.ZfinAuthenticatedVoter"/>
            </list>
        </property>
    </bean>

    <bean id="authenticationManager" class="org.acegisecurity.providers.ProviderManager">
        <property name="providers">
            <list>
                <ref local="daoAuthenticationProvider"/>
            </list>
        </property>
        <property name="sessionController">
            <ref bean="concurrentSessionController"/>
        </property>
    </bean>

    <bean id="concurrentSessionController" class="org.acegisecurity.concurrent.ConcurrentSessionControllerImpl">
        <property name="maximumSessions">
            <value>1</value>
        </property>
        <property name="sessionRegistry">
            <ref local="sessionRegistry"/>
        </property>
    </bean>

    <bean id="daoAuthenticationProvider" class="org.acegisecurity.providers.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="userDetailsService"/>
        <property name="passwordEncoder">
            <bean class="org.acegisecurity.providers.encoding.Md5PasswordEncoder"/>
        </property>
        <property name="saltSource">
            <bean class="org.acegisecurity.providers.dao.salt.SystemWideSaltSource">
                <property name="systemWideSalt" value="dedicated to George Streisinger"/>
            </bean>
        </property>
    </bean>


    <bean id="userDetailsService" class="org.zfin.security.UserDetailServiceImpl"/>

    <bean id="personSecurity" class="org.acegisecurity.intercept.method.aopalliance.MethodSecurityInterceptor">
        <property name="validateConfigAttributes">
            <value>true</value>
        </property>
        <property name="authenticationManager">
            <ref bean="authenticationManager"/>
        </property>
        <property name="accessDecisionManager">
            <ref bean="accessDecisionManager"/>
        </property>
        <!--
                <property name="runAsManager">
                    <ref bean="runAsManager" />
                </property>
                <property name="afterInvocationManager" >
                    <ref bean="afterInvocationManager"/>
                </property>
        -->
        <property name="objectDefinitionSource">
            <value>org.zfin.security.repository.UserRepository.createPerson=root</value>
        </property>

    </bean>

    <bean id="attributes" class="org.acegisecurity.annotation.SecurityAnnotationAttributes"/>

    <bean id="objectDefinitionSource" class="org.acegisecurity.intercept.method.MethodDefinitionAttributes">
        <property name="attributes">
            <ref local="attributes"/>
        </property>
    </bean>


    <!-- This bean is optional; it isn't used by any other bean as it only listens and logs -->
    <bean id="loggerListener" class="org.acegisecurity.event.authentication.LoggerListener"/>

</beans>
