<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE tiles-definitions PUBLIC
        "-//Apache Software Foundation//DTD Tiles Configuration 1.1//EN"
        "http://struts.apache.org/dtds/tiles-config_1_1.dtd">

<tiles-definitions>

    <definition name="ln54mapper-request.page" extends="main_layout">
        <put name="staticTitle" value="Request LN54 Mapping"/>
        <put name="body" value="/WEB-INF/jsp/mapping/ln54mapper-request.jsp"/>
    </definition>

    <definition name="ln54mapper-result.page" extends="main_layout">
        <put name="staticTitle" value="LN54 Mapping Request Result"/>
        <put name="body" value="/WEB-INF/jsp/mapping/ln54mapper-result.jsp"/>
    </definition>

</tiles-definitions>
