# Generated things
.gradle
build
git-info.txt
home/WEB-INF/classes/
home/WEB-INF/log4j.xml
home/WEB-INF/zfin.properties
lib/DB_functions/**/*.so
node_modules/
reports/tests/
reports/gradle
server_apps/jenkins/jenkins.war
server_apps/data_transfer/LoadOntology/reload-status/
server_apps/data_transfer/LoadOntology/obo-files
server_apps/data_transfer/LoadOntology/logs

# Docker config
docker/pg_pass
docker/.env
docker/httpd/*.crt
docker/httpd/*.key
docker/tomcat/keystore
ansible/pg_pass
docker/elasticsearch/state/

# IntelliJ things
.idea
*.iml

# Mac cruft
.DS_Store
._*
.nfs*

# Emacs cruft
*~
\#*\#
out/

# Added by Task Master AI
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
# Environment variables
.env
# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
# Task files
tasks.json
tasks/ 