<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Run Journal Abbreviation Sync Task</description>
  <keepDependencies>false</keepDependencies>
    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.FileParameterDefinition>
                    <name>NCBI_FILE_UPLOAD</name>
                    <description>Upload the uncompressed NCBI Journal Export File (can be downloaded from ftp://ftp.ncbi.nih.gov/pubmed/J_Medline.txt, for example)</description>
                </hudson.model.FileParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
   <hudson.triggers.TimerTrigger>
       <spec/>
   </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>$TARGETROOT</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>cd $SOURCEROOT &amp;&amp; gradle journalAbbreviationSyncReport &amp;&amp; cp JournalAbbreviationSync.sql $WORKSPACE</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
      <hudson.tasks.ArtifactArchiver>
          <artifacts>JournalAbbreviationSync.sql</artifacts>
          <allowEmptyArchive>false</allowEmptyArchive>
          <onlyIfSuccessful>false</onlyIfSuccessful>
          <fingerprint>false</fingerprint>
          <defaultExcludes>true</defaultExcludes>
          <caseSensitive>true</caseSensitive>
      </hudson.tasks.ArtifactArchiver>
        <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@1.0.8">
            <unstableOnWarning>true</unstableOnWarning>
            <failBuildOnError>false</failBuildOnError>
            <parsingRulesPath/>
        </hudson.plugins.logparser.LogParserPublisher>
  </publishers>
  <buildWrappers>
    <EnvInjectBuildWrapper plugin="envinject@1.89">
        <info>
            <propertiesFilePath>$TARGETROOT/home/WEB-INF/zfin.properties</propertiesFilePath>
            <loadFilesFromMaster>false</loadFilesFromMaster>
        </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>
