<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Run Journal Abbreviation Sync Task</description>
  <keepDependencies>false</keepDependencies>
    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>

                <hudson.model.BooleanParameterDefinition>
                    <name>FORCE_APPLY_FIXES</name>
                    <description>If set to true then issue SQL statements to set journal abbreviations.</description>
                    <defaultValue>false</defaultValue>
                </hudson.model.BooleanParameterDefinition>
                <hudson.model.BooleanParameterDefinition>
                    <name>CONVERT_INPUT_TO_CSV</name>
                    <description>If set to true then convert input to csv file.</description>
                    <defaultValue>false</defaultValue>
                </hudson.model.BooleanParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>NCBI_JOURNAL_FILE</name>
                    <description>Location of NCBI Journal Export File (can be downloaded from ftp://ftp.ncbi.nih.gov/pubmed/J_Medline.txt, for example)</description>
                    <defaultValue></defaultValue>
                </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
   <hudson.triggers.TimerTrigger>
       <spec/>
   </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>$TARGETROOT</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>cd $SOURCEROOT &amp;&amp; gradle journalAbbreviationSync</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
        <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@1.0.8">
            <unstableOnWarning>true</unstableOnWarning>
            <failBuildOnError>false</failBuildOnError>
            <parsingRulesPath/>
        </hudson.plugins.logparser.LogParserPublisher>
  </publishers>
  <buildWrappers>
    <EnvInjectBuildWrapper plugin="envinject@1.89">
        <info>
            <propertiesFilePath>$TARGETROOT/home/WEB-INF/zfin.properties</propertiesFilePath>
            <loadFilesFromMaster>false</loadFilesFromMaster>
        </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>
