/* p, td, li, h1, h2, h3, h4, h5, input, select
      {
      font-family:arial, sans-serif;
      }
*/

body {
	background: #FFFFFF
      }

a {
      font-weight:bold;
      color:#0000CC;
      }

a:visited {
      font-weight:bold;
      color:#551a8b;
      }

.header a {
	text-decoration:none;
	font-weight:normal;
	color:#FFFFFF;
}

.header big {
	font-weight:bold;
	font-size:25pt;
	color:#000000;
}

.header p {
	color:#FFFFFF;
}

.sidebar a {
	font-size:11pt;
	font-weight:bold;
	color:#0000CC;
	text-decoration:none;
      }

.sidebar b {
	font-size:11pt;
	font-weight:bold;

}

.sidebar p {
	font-weight:bold;
	margin-left:5;
}

.content a {
      font-weight:normal;
      color:#0F4351;
      text-decoration:none;
      }

.content a:visited {
      font-weight:normal;
      color:#551a8b;
      text-decoration:none;
      }

.content b {
      font-weight:bold;
}

.content em {
      font-weight:normal;
      font-style:normal;
      color:#FF3333;
      text-decoration:underline;
}

.show_pubs a {
	text-decoration:none;
}

table.header {
	vertical-align:top;
	align:left;
}

td.login {
	vertical-align:bottom;
	width:400;	
	background-color:#006666;
}

.login b {
	font-weight:bold;	
	color:white;
}
.login a {
	font-weight:bold;	
	color:white;
}



td.header {
	background-color:#FFFFFF;
	vertical-align:top;
	align:left;

}

td.footer {
	background-color:#006666;
	vertical-align:top;
	align:left;
}

td.sidebar {
	vertical-align:top;
	width:150;
	background-color:#CCCCCC;
}

table.sidebar {
	width:150;
	border:0;
	background-color:#CCCCCC;
}

td.content {
	vertical-align:top;
	align:left;
	background-color:#FFFFFF;
}

table.content {
	vertical-align:top;
	align:left;

}

td.content_left {
      vertical-align:top;
      align:left;
      width:140;
      background-color:#FFFFFF;
}

td.content_right {
      background-color:#FFFFFF;
}

table.search {
	vertical-align:top;
	align:left;
	background-color:#FFFFFF;
	border:0;
}

td.half_width {
	vertical-align:top;
	align:left;
	background-color:#FFFFFF;
}

td.full_width {
	vertical-align:top;
	align:left;
	background-color:#FFFFFF;
	colSpan:2;
}

td.resultcount {
	vertical-align:top;
	align:right;
	background-color:#FFFFFF;
}

td.titlebar {
	vertical-align:top;
	align:left;
	background-color:#CCCCCC;
	colSpan:2;
}

td.submitbar {
	vertical-align:top;
	align:right;
	background-color:#CCCCCC;
	colSpan:2;
}

