/* p, td, li, h1, h2, h3, h4, h5, input, select
      {
      font-family:arial, sans-serif;
      }
*/


.sidebar, .content, .header .acknowledgement{
	font-family:arial, sans-serif;
}
      
body {
	font-size:9pt;
      }

body { 
	font-family:arial, sans-serif;
}

.header  {
	font-family: arial, sans-serif;
	text-decoration:none;
	color:#FFFFFF;
	font-size:9pt;
}


.header a {
	font-family: arial, sans-serif;
	text-decoration:none;
	font-weight:bold;
	color:#FFFFFF;
	font-size:9pt;
}

.header big {
 	font-family:arial, sans-serif;
	font-weight:bold;
	font-size:25pt;
	color:#000000;
}

.header p {
	color:#FFFFFF;
	font-size:9pt;
}


.sidebar a {
	font-family:arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
	color:#0000CC;
	text-decoration:none;
      }

.ack {
	font-family: arial, sans-serif;
	text-decoration:none;
	color:#000000;
	font-size:9pt;
}


.sidebar b {
 	font-family:arial, sans-serif;
	font-size:10pt;
	font-weight:bold;
}

.sidebar p {
	font-family:arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
	margin-left:5;
}

.content a {
      font-weight:normal;
      color:#0F4351;
      text-decoration:none;
      }

.content a:visited {
      font-weight:normal;
      color:#551a8b;
      text-decoration:none;
      }

.content {
      background-color:<!--|BACKGROUND_COLOR|-->
}

.content b {
      font-weight:bold;
}

.content em {
      font-weight:normal;
      font-style:normal;
      color:#FF3333;
      text-decoration:underline;
}

.show_pubs a {
	text-decoration:none;
}

table.header {
	vertical-align:top;
	align:left;
}

td.login {
	vertical-align:bottom;
	width:400;	
	background-color:#006666;
}

.login b {
	font-weight:bold;	
	font-size: 9pt;
	color:white;
}
.login a {
	font-weight:bold;	
	font-size: 9pt;
	color:white;
}



td.header {
	background-color:#FFFFFF;
	vertical-align:top;
	align:left;
}

td.footer {
	background-color:#006666;
	vertical-align:top;
	align:left;
}

td.sidebar {
	vertical-align:top;
	width:150;
	background-color:#CCCCCC;
}

table.sidebar {
	width:150;
	border:0;
	background-color:#CCCCCC;
}

td.content {
	vertical-align:top;
	align:left;
	background-color:#FFFFFF;
}

table.content {
	vertical-align:top;
	align:left;
}

td.content_left {
      vertical-align:top;
      align:left;
      width:140;
      background-color:#FFFFFF;
}

td.content_right {

      background-color:#FFFFFF;
      font-size:9pt;

}

table.search {
	vertical-align:top;
	align:left;
	background-color:#FFFFFF;
	border:0;
}

td.half_width {
	vertical-align:top;
	align:left;
	background-color:#FFFFFF;
}

td.full_width {
	vertical-align:top;
	align:left;
	background-color:#FFFFFF;
	colSpan:2;
}

td.resultcount {
	vertical-align:top;
	align:right;
	background-color:#FFFFFF;
}

td.titlebar {
	vertical-align:middle;
	align:left;
	background-color:#CCCCCC;
}

td.submitbar {
	vertical-align:top;
	align:right;
	background-color:#CCCCCC;
	colSpan:2;
}

td.ack a {
	font-family: arial, sans-serif;
	text-decoration:none;
	font-weight:bold;
	color:#000000;
	font-size:9pt;
}

/** style for auto suggestion **/

 .suggestion_list
 {
 font-size: 9pt;	
 background: white;
 border: 1px solid;
 padding: 4px;
 }

 .suggestion_list ul
 {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }

 .suggestion_list a
 {
 text-decoration: none;
 color: navy;
 }

 .suggestion_list .selected
 {
 background: navy;
 color: white;
 }

 .suggestion_list .selected a
 {
 color: white;
 }

 #autosuggest
 {
 display: none;
 }


/**** style declaration for zfin return results class *****/

table.searchresults {
  width:100%;  
  border-collapse:collapse;
}

table.searchresults th { 
  text-align:left;
  vertical-align:bottom;
  padding-left: 5px;
  padding-right: 5px;
 }

table.searchresults td { 
  text-align:left;
  vertical-align:top;
  padding: 3px;

 }

table.searchresults caption { 
  font-weight:bold;
  text-align:center;
  vertical-align:top;
  padding-bottom: 15px;
}

td.anatomy { 
  font-size: small;
  vertical-align:top;
 }

td.thumbnail { 
  text-align: right;  
}

td.small { 
  font-size: small;
 }

tr.odd { 
  background-color: #EEEEEE; 
}

/*** gene name & abbrev ***/

.genedom { font-style: italic; } 

/*** non-gene name & abbrev - just a placeholder for now ***/

.nongenedommarker {font-style: normal;}

/*** mutant name & abbrev  ***/

.mutant { font-style: italic; }

/*** wildtype name & abbrev ***/

.wildtype { font-style: normal; }



/** Quicksearch Header **/

#quicksearchBox {
	position: absolute;
	right: 10px;
	top: 10px;
}
