#
# FREQUENT SCRIPTS
# ================
# check if production is up 
0,7,15,22,30,37,45,52 *  * * * <!--|ROOT_PATH|-->/server_apps/WebSiteTools/signsoflife.sh
#
#
# DAILY SCRIPTS
# =============
# Run daily data validation script.  
01 19 * * 1,2,3,4,5 <!--|ROOT_PATH|-->/server_apps/DB_maintenance/validatedata.pl -d -o <!--|DB_NAME|--> 
#
# Run regen_maps, mon-fri
30 21 * * 1,2,3,4,5 <!--|ROOT_PATH|-->/server_apps/DB_maintenance/regen.sh
#
# Nightly check for new publications.
22 23 * * * <!--|ROOT_PATH|-->/<!--|CGI_BIN_DIR_NAME|-->/publications_today.cgi
#
# Nightly backup. This won't work on bionix.  We don't care.
25 23 * * * /private/bin/onback.pl >> /research/zfin/chromix/backup/onback.cronout 2>&1
#
# unload production at 11:45 PM mon-fri
45 23 * * 1,2,3,4,5 <!--|ROOT_PATH|-->/server_apps/DB_maintenance/unload_production.sh
#
#
# WEEKLY SCRIPTS
# ==============
#
# Sunday
# ------
#  weekly download data run, Sunday morning
0 20 * * 0 <!--|ROOT_PATH|-->/server_apps/data_transfer/Downloads/DownloadFiles.pl
9 20 * * 0 <!--|ROOT_PATH|-->/server_apps/data_transfer/Sanger/SangerFiles.pl
#
# weekly update of RefSeq and other links, must run after download run
01 22 * * 0 <!--|ROOT_PATH|-->/server_apps/data_transfer/RefSeq/refseq.pl> <!--|ROOT_PATH|-->/server_apps/data_transfer/RefSeq/refseq.log 2>&1
#
# weekly checklinks run, Sunday afternoon is least use time for ZFIN.
# Turn off checklinks until
#  1. We can get it to run faster.  Running for over a day when we turned it off
#  2. We actually start looking at the output.
#13 15 * * 0 <!--|ROOT_PATH|-->/server_apps/WebSiteTools/run.checklinks
#
# Wednesday
# ---------
# Weekly dump of data for ZIRC to pick up
15 01 * * 3 <!--|ROOT_PATH|-->/server_apps/data_transfer/ZIRC/pushToZirc.pl
#
# Thursday
# --------
# Weekly load of data from ZIRC
15 01 * * 4 <!--|ROOT_PATH|-->/server_apps/data_transfer/ZIRC/pullFromZirc.pl
#
# Friday
# ------
# weekly dump from John P. for Sanger Center data
15 01 * * 5 <!--|ROOT_PATH|-->/server_apps/data_transfer/JohnP/johnp.pl
#
# Saturday
# --------
# Run weekly data validation script
01 20 * * 6 <!--|ROOT_PATH|-->/server_apps/DB_maintenance/validatedata.pl -w <!--|DB_NAME|-->
#
# weekly dump for MEOW database
15 23 * * 6 <!--|ROOT_PATH|-->/server_apps/data_transfer/MEOW/meow.pl
#
#
# MONTHLY SCRIPTS
# ===============
# Run monthly data validation script.
01 21 1 * * <!--|ROOT_PATH|-->/server_apps/DB_maintenance/validatedata.pl -m <!--|DB_NAME|-->
#
# monthly locus registration email
01 23 1 * * <!--|ROOT_PATH|-->/<!--|CGI_BIN_DIR_NAME|-->/expired_locus.cgi
#
#
# YEARLY SCRIPTS
# ==============
# Run yearly data validation script.
01 22 1 1 * <!--|ROOT_PATH|-->/server_apps/DB_maintenance/validatedata.pl -y <!--|DB_NAME|-->
