<Server port="@SERVER-SHUTDOWN-PORT@" shutdown="SHUTDOWN">

    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on"/>
    <!--Initialize Jasper prior to webapps are loaded. Documentation at /docs/jasper-howto.html -->
    <Listener className="org.apache.catalina.core.JasperListener"/>
    <!-- Prevent memory leaks due to use of particular java/javax APIs-->
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>


    <!-- Define the Tomcat Stand-Alone Service -->
    <Service name="Catalina">

        <!-- Define a non-SSL HTTP/1.1 Connector -->
        <Connector port="@Non-SECUREPORT@" maxHttpHeaderSize="8192"
                   proxyPort="80"
                   maxThreads="100"
                   enableLookups="false" redirectPort="8843" acceptCount="200"
                   connectionTimeout="20000" disableUploadTimeout="true" compression="on"
                   URIEncoding="UTF-8"/>

        <!-- Define a SSL HTTP/1.1 Connector  -->
        <Connector port="@SECUREPORT@" maxHttpHeaderSize="8192"
                   proxyPort="443"
		   acceptCount="200"
                   maxThreads="100"
                   enableLookups="false" disableUploadTimeout="true"
                   SSLEnabled="true" scheme="https" secure="true"
                   clientAuth="false" sslProtocol="TLS" compression="on"
                   keystoreFile="/private/apps/tomcat/conf/keystore"
                   URIEncoding="UTF-8"/>


        <Engine name="Catalina" defaultHost="@DOMAIN-NAME@">

            <Host name="@DOMAIN-NAME@" appBase="webapps"
                  unpackWARs="true" autoDeploy="false">

            </Host>

        </Engine>

    </Service>

</Server>
