<?xml version="1.0" encoding="UTF-8"?>

<Server port="@SERVER-SHUTDOWN-PORT@" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">

    <Connector port="@Non-SECUREPORT@" protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="8443"
               maxParameterCount="1000"
               />
    <Connector port="@SECUREPORT@" maxHttpHeaderSize="8192"
               proxyPort="443"
               acceptCount="200"
               maxThreads="100"
               maxParameterCount="1000"
               enableLookups="false" disableUploadTimeout="true"
               SSLEnabled="true" scheme="https" secure="true"
               clientAuth="false" compression="on"
	       defaultSSLHostConfigName="zfin.org"
	       URIEncoding="UTF-8">
	       <SSLHostConfig hostName="zfin.org">
                <Certificate
                  certificateKeystoreFile="/opt/apache/apache-tomcat/conf/keystore"
                  />
               </SSLHostConfig>
      </Connector>

    <Connector protocol="AJP/1.3"
               address="::1"
               port="8009"
               redirectPort="8443"
               maxParameterCount="1000"
               secretRequired="false"
               />

    <Engine name="Catalina" defaultHost="@DOMAIN-NAME@">

      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      <Host name="@DOMAIN-NAME@"  appBase="webapps"
            unpackWARs="true" autoDeploy="false">

        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log" suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />

      </Host>
    </Engine>
  </Service>
</Server>
