.name-label, .name-value {
    font-size: large;
    font-weight: bold;
    text-align:left;
}

/* title bar over the top of sub-pages of a data page */
.data-sub-page-title {
    font-size: large;
    font-weight: bold;
    background: #ccc;
}

/* entity attribute table stuff here */
table.primary-entity-attributes {
    border-collapse: collapse;
    clear:both;
    margin-top: .3em;
}

table.primary-entity-attributes tr {
    vertical-align: baseline;
}

table.primary-entity-attributes th {
    text-align: left;
    padding-right: 1em;
    padding-top: .1em;
    padding-bottom: .1em;
    white-space: nowrap;
}

table.primary-entity-attributes th.genotype-name-label,
table.primary-entity-attributes td.genotype-name-value {
    vertical-align: baseline;
}

table.primary-entity-attributes td {
    text-align: left;
    /*vertical-align: top;*/
    padding-top: .1em;
    padding-bottom: .1em;
}

div.ontology-term-mini-summary {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

table.ontology-term-mini-summary {
    border-collapse: collapse;
}

table.ontology-term-mini-summary th {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    padding-right: 1em;
    white-space: nowrap;
}

table.ontology-term-mini-summary td {
    text-align: left;
    vertical-align: top;
}

table.ontology-term-mini-summary th.name,
table.ontology-term-mini-summary td.name {
    font-weight: bold
}

.related-ontology-term {
    display: block;
    margin-left: 2em;
    text-indent: -2em;
}

.no-data-tag {
    background-color: white;
    border: none;
    border-spacing: 0 ;
    border-width: 0 ;
    color: gray;
    font-weight: lighter;
}

.data-note {
    font-size: small;
}

.publication-info {
    font-size: larger;
}

.caution-head {
    color: red;
    font-weight: 800;
    font-size: 200%;
}

.caution-emphasis {
    color: red;
    font-weight: 700;
    font-size: 130%;
}

.caution-text {
    color: black;
    font-weight: 500;
    font-size: 110%;
}

tr.spaceUnder > td{
    padding-bottom: 1em;
}

.citation-heading {
    font-size: x-large;
    font-weight: 700;
    text-align: left;
}