

.item-bold {
    font-weight: bold;
    font-size: 10pt;
}

.item-bold-large {
    font-weight: bold;
    font-size: 12pt;
}

.item {
    font-weight: normal;
    font-size: 10pt;
}

.cl-item {
    font-family: verdana, arial, helvetica;
    color: #333333;
    font-size: 10pt;
}

.sectionTitle {
    color: #FFFFFF;
    font-size: 10pt;
    line-height: 15pt;
    font-weight: bold;
    padding-left: 10px;
    background-color: #000000;
}

.listContent {
    font-size: 10pt;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    background-color: #EEEEEE;
}

.listContentBold {
    font-size: 10pt;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    vertical-align: top;
    background-color: #EEEEEE;
}

.listContentNF {
    padding-left: 10px;
    vertical-align: top;
    background-color: #EEEEEE;
    font-style: italic;
}

.username {
    text-align: right;
    font-size: 10pt;
    color: #000000
}
