#footer {
    margin: 0 0 3px;
    clear: both;
    font-size: .8em;
}

#footer-generous-support {
    display: none;
}

#footer a,
#footer a:visited {
    color: #066;
    text-decoration: none;
}

#footerlinks {
    white-space: nowrap;
    padding: 0.3em;
    margin-left: 0;
    margin-right: 0;
    background-color: #066;
    color: white;
}

#footerlinks a,
#footerlinks a:visited {
    color: white;
    margin-right: 10px;
}

#footerlinks a:hover {
    text-decoration: underline;
}

#footercredits {
    white-space: nowrap;
    margin: 0 auto;
}
