.zfin-header {
    position: relative;
    background: @HEADER_BACKGROUND@;
    height: 80px;
    width: 100%;
}

#hdr-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    margin-left: 0;
    margin-right: 0;
    min-width: 580px;
}

#logo-img,
#logo-text {
    border: 0;
    margin: 0;
    position: absolute;
    z-index: 5;
}

#logo-img {
    top: 0;
    left: 0;
}

#logo-text {
    left: 56px;
    top: 19px;
}

#feedBox {
    position: absolute;
    top: 30px;
    right: 5px;
    height: 1.5em;
    z-index: 4;
    margin: 0;
}

.site-link {
    margin-right: 0.4rem;
    font-weight: bold;
    font-size: 11px;
    line-height: 6px;
    color: #066;
}

.site-link a,
.site-link a:hover {
    text-decoration: none;
    color: #066;
}

#social-icon {
    height: 18px;
    position: relative;
    top: -1px;
    vertical-align: middle;
}

#feedBox label {
    text-decoration: none;
    font-weight: bold;
    font-size: .8em;
}
/* override the jqueryUI default */
.ui-corner-all  {
    font-size: .9em !important;
    background: #fff;
}

#quicksearchBox {
   position: absolute;
   top: 5px;
   right: 5px;
   height: 25px;
   z-index: 400;
   margin: 0;
   padding: 0;
}

#quicksearchBox a { 
  text-decoration: none;
  font-weight: bold;
  font-size: .8em;
  color: #044;
}

#quicksearchBox a:hover {
  text-decoration: underline;
}

#noscriptWarningBox { 
  font-size: .8em;
  color: red;
  white-space: nowrap;
  border: 1px solid red;
  background: #f5e7e7;
  position: absolute;
  top: 5px;
  left: 190px;
  padding: .2em .5em;
  z-index: 10;
}

#hdr-tabs {
    float: left;
    margin-top: 33px;   /* this lowers and raises the green tabs and linkbar */
    margin-left: 190px;  /* set smaller for ie in header javascript */
    z-index: 5;
    width: 40em;
}

.header-tab {
    float: left;
    margin-right: 6px;
    cursor: pointer;
    height: 18px;  /* this controls the height of the tab above the linkbar */
    padding-top: 5px;
    padding-bottom: 1px;
    background: #e0e7e0;
    text-align: center;
    font-size: .8em;
    color: #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header-tab.research {
    width: 10em;
}

.header-tab.general {
    width: 15em;
}

.header-tab.zirc {
    width: 10em;
}

.header-tab.selected {
    background: #006666;
    color: #fff;
}

#hdr-navlinks { 
  clear: both;
  background-color: #066;
  color: #fff;
  font-size: .8em;
}

#hdr-navlinks a {
  color: #fff;
  margin-left: 0;
  margin-right: 10px;
  font-weight: normal;
  text-decoration: none;
}

#hdr-navlinks strong {
    margin-right: 10px;
}

#hdr-navlinks a:hover {
  text-decoration: underline;
}

.hdr-linkbar { 
  background-color: #066;
  white-space: nowrap; 
  padding: 0.3em;
  z-index: 5;
}

.uber-banner {
    background: #740C56;
    padding: 0.7em;
    margin-bottom: 0.25em;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    font-size: 14.4px;
    line-height: normal;
}

.uber-banner a {
    color: white;
    text-decoration: underline;
}

.uber-banner a:hover {
    color: white;
}