header {
    display: flex;
    align-items: center;
    background: rgba(0, 128, 128, 0.15);
    border-bottom: 4px solid rgb(0, 128, 128);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    height: 80px;
    padding: 0 10px;
    box-sizing: border-box;
    flex-shrink: 0;
    font-size: 16px;
    line-height: 1.42857143;
}

header * {
    box-sizing: border-box;
}

header a {
    color: rgb(0, 128, 128);
    text-decoration: none;
}

header input {
    font: inherit;
    line-height: inherit;
}

header > .logo {
    height: 100%;
    padding: 8px 0;
    margin-right: 10px;
    background: transparent;
    flex-shrink: 0;
}

header > .logo img {
    max-height: 100%;
    max-width: 100%;
}

header > .menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

header > .menu > li {
    display: flex;
    flex-direction: column;
    color: rgb(0, 128, 128);
    padding: 0 15px;
    border: 0 solid rgba(255, 255, 255, 0.85);
    border-left-width: 1px;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    font-weight: 700;
    position: relative;
}

header > .menu > li:last-of-type {
    border-right-width: 1px;
}

header > .menu > li:hover {
    color: white;
    background: rgb(0, 128, 128);
}

header > .menu > li::after {
    content: '⌄';
    position: absolute;
    bottom: 5px;
    font-size: 1.3em;
}

header > .right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

header > .right .search {
    padding: 10px;
}

main {
    flex: 1 0 auto;
    margin: 0 5px 20px 5px;
    background: white;
}

footer {
    flex-shrink: 0;
    background: rgba(0, 128, 128);
    color: white;
    padding: 30px;
    text-align: center;
}

.uber-banner {
    background: #740C56;
    padding: 0.7em;
    margin-bottom: 0.25em;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    font-size: 14.4px;
    line-height: normal;
}

.uber-banner a {
    color: white;
    text-decoration: underline;
}

.uber-banner a:hover {
    color: white;
}