.relatedEntityTable {
    background-color: lightgray;
    border: medium black;
}

.relatedEntityPubLink {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
}

.relatedEntityDefaultPub {
    color: gray;
}

.sequenceDisplay {
    font-family: monospace;
}

.sequenceArea {
    width: 400px;
    height: 200px;
}

.publicationlookup {
    background-color: darkgray;
    padding: 10px;
    text-align: center;
}

.publicationAbstract {
    background-color: white;
    text-align: center;
}

a:active,
a:visited,
a:link{
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.notePopup {
    background-color: gray;
    width: 320px;
    height: 240px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.notePopupTextArea {
    width: 300px;
    height: 200px;
}

.newProteinBox {
    padding: 10px;
}

.gwt-Hyperlink {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.gwt-Hyperlink:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.gwt-Frame {
    background: white;
    border: thin solid black;
    box-shadow: 0.2em 0.2em #CCC ;
    position: relative;
}

.gwt-PopupPanel {
    border: black;
}

.gwt-PopupPanel .popupContent {
    color: white;
    opacity: 0;
    width: 400px;
}

.externalLink {
    background: transparent url( /images/external.png) no-repeat scroll right center;
    padding-right: 13px;
    color: blue;
    cursor: pointer;
    outline: none;
}

.externalLink:hover {
    text-decoration: underline;
}

img {
    border: 0;
}

a.external {
    background: transparent url( /images/external.png) no-repeat scroll right center;
    padding-right: 13px;
}

.error {
    color: red;
}
