div.zf-pagination {
    width: 100%;
    font-weight: bold;
    white-space: nowrap;
}

.zf-pagination {
    padding: 3px 3px;
    font-weight: bold;
}

.zf-pagination table {
    margin: 0 auto;
}

.zf-pagination a {
    padding: 2px 8px;
    border:  1px solid white;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    letter-spacing: 0px;
}

.zf-pagination a:hover,
.zf-pagination a:active {
    border: 1px solid #5858af;
    border-radius: 7px;
    background-color: #e8e8ff;
    font-weight: bold;
    letter-spacing: 0;
}

.zf-pagination span.current {
    padding: 2px 8px;
    font-weight: bold;
    border: 1px solid #aaa;
    border-radius: 7px;
    background-color: #eee;
    letter-spacing: 0;
}

.zf-pagination span.disabled {
    padding: 2px 8px;
    color: #777;
    font-weight: bold;
}