div.popup-header {
    margin: 0 0 3px;
    background: #eee;
    padding: 5px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #ccc;
}

div.popup-body {
    max-height: 450px;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}

div.popup-actions {
    padding: 15px 0;
    text-align: right;
}

div.phenotype-popup-body {
    padding: 0;
}

hr.popup-divider {
    background-color: #ddd;
    height: 2px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.close_link {
    display: none;
}

/* hide it here, show it in the popup code, so that
   browsers that don't support the popup code won't
   see a popup icon */
.data-popup-link {
    display: none;
}

.data-popup-link:after {
    content: url(/images/popup-link-icon.png);
    padding-top: 2px;
    margin-left: 4px;
    margin-right: 0;
    text-decoration: none;
    opacity: 0.5;
    white-space: nowrap;
}

.data-popup-link:hover:after {
    content: url(/images/popup-link-icon-hover.png);
    padding-top: 2px;
    margin-left: 4px;
    margin-right: 0;
    text-decoration: none;
    opacity: 0.8;
    white-space: nowrap;
}

.info-popup-link:after {
    content: url(/images/info.gif);
    padding-top: 2px;
    margin-left: 3px;
    margin-right: 5px;
    opacity: 0.99 ; /*see case 7376*/
}

.help-popup-link:after {
    content: url(/images/help.gif);
    padding-top: 2px;
    margin-left: 2px;
    margin-right: 5px;
    opacity: 0.99; /*see case 7376*/
}

a.gbrowse_hover{
    background-color:#cfc;
    font-weight: bold;
    color:#000;
    text-decoration:none;
}

.gbrowse_popup{
    display: none;
    position: absolute;
    z-index: 101;
    border: 1px solid black;
}

a.gbrowse_hover:hover .gbrowse_popup{ /*the span will display just on :hover state*/
    background-color:#fff;
    color:#000;
    text-align: center;
}

#input-welcome-overlay {
    text-align: left;
}

#input-welcome-validate {
    border: 1px solid #EED3D7;
    border-radius: 4px;
    background-color: #F2DEDE;
    color: #B94A48;
    text-align: center;
    margin: 0 auto 1.5em;
    padding: 1em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#input-welcome-form-controls {
    margin: 0 auto;
    padding: 30px 0;
    width: 600px;
}

#input-welcome-form .control {
    margin-top: 0.5em;
}

#input-welcome-form .invalid {
    box-shadow: 0 0 5px 1px #B94A48;
}

#input-welcome-form label {
    display: inline-block;
    width: 130px;
    text-align: left;
    font-weight: bold;
}

#input-welcome-form textarea {
    width: 400px;
    vertical-align: top;
    height: 6em;
}

#input-welcome-form input {
    width: 400px;
}

#input-welcome-form button {
    margin-left: 133px;
}