/**** style declaration for zfin return results class *****/

table.searchresults {
    width: 100%;
    border-collapse: collapse;
}

table.searchresults th {
    text-align: left;
    vertical-align: bottom;
    padding-left: 5px;
    padding-right: 5px;
}

table.searchresults td {
    text-align: left;
    vertical-align: top;
    padding: 3px;

}

table.searchresults caption {
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    padding-bottom: 15px;
}

table.searchresults td.anatomy {
    font-size: small;
    vertical-align: top;
}

table.searchresults td.thumbnail {
    text-align: right;
}

table.searchresults td.small {
    font-size: small;
}

table.searchresults tr.odd {
    background-color: #EEEEEE;
}

table.searchresults tr.newgroup {
    /* just a placeholder, not defined for the default style */
}

table.searchresults tr.even {
    background-color: #fff;
}

table.searchresults tr.oddgroup {
/* just a placeholder, not defined for the default style */
}

table.searchresults tr.evengroup {
/* just a placeholder, not defined for the default style */
}

