/**** style declaration for zfin return results class *****/

table.searchresults {
    width: 100%;
    border-collapse: collapse;
}

table.searchresults th {
    text-align: left;
    vertical-align: bottom;
    padding-left: 5px;
    padding-right: 5px;
}

table.searchresults td {
    text-align: left;
    vertical-align: top;
    padding: 3px;

}

table.searchresults caption {
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    padding-bottom: 15px;
}

td.anatomy {
    font-size: small;
    vertical-align: top;
}

td.thumbnail {
    text-align: right;
}

td.small {
    font-size: small;
}

tr.odd {
    background-color: #EEEEEE;
}

tr.newgroup {
    border-top: 1px solid #ccc; 
}

tr.even {
    background-color: #fff;
}

tr.oddgroup {
/* just a placeholder, not defined for the default style */
}

tr.evengroup {
/* just a placeholder, not defined for the default style */
}

a.gbrowse_hover{
    position:relative; /*this is the key*/
    z-index:24; background-color:#cfc;
    font-weight: bold;
    color:#000;
    text-decoration:none}

a.gbrowse_hover:hover{z-index:25; background-color:#ff0}

a.gbrowse_hover span.gbrowse_popup{display: none}

a.gbrowse_hover:hover span.gbrowse_popup{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:2em; left:-350px;
    /*border:1px solid #fff;*/
    background-color:#fff; color:#000;
   text-align: center}
