.data-table-container {
  @extend .border, .rounded, .mb-3, .overflow-hidden;
}

.data-table {
  @extend .table, .table-hover, .m-0;

  thead {
    @extend .bg-light;
  }
}

.data-table-pagination {
  @extend .bg-light, .p-2, .border-top;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[data-table='collapse'] {
  display: none;
}
