.tt-hint,
.tt-input {
    border: 1px solid #cccccc;
    padding: 2px;
}

.tt-hint {
    color: #999999;
}

.tt-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    width: 100%;
}

.tt-suggestion,
.tt-no-results {
    font-size: 14px;
    padding: 6px 6px;
    margin: 0;
    text-align: left;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
    color: #fff;
    background-color: #0097cf;
}

.tt-no-results {
    text-align: center;
}

.tt-suggestion:hover .text-muted {
    color: #a0c8de;
}

.tt-suggestion p {
    margin: 0;
    text-align: left;
}
