@import "theme";

.tt-menu {
    @include elevated-shadow;
    background-color: white;
    border: 0;
    width: 100%;
}

.tt-suggestion,
.tt-no-results,
.tt-search-link {
    font-size: 14px;
    border-bottom: 1px solid $border-color;
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: inherit;

    &:last-of-type {
        border-width: 0;
    }
}

.tt-suggestion .details {
    color: $grey;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
    background-color: $grey-light;
    color: inherit;
    text-decoration: none;
}

.tt-search-link {
    background: $primary;
    color: white;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;

    &:hover {
        background: $primary-dark;
        color: white;
        text-decoration: none;
    }
}

.tt-no-results {
    text-align: center;
}

.tt-suggestion p {
    margin: 0;
    text-align: left;
}

.tt-input {
    vertical-align: middle !important;
}

/**
Fix the size of the inputs when placed in a large input group
*/
.input-group.input-group-lg .twitter-typeahead .tt-input,
.input-group.input-group-lg .twitter-typeahead .tt-hint {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}
.input-group.input-group-lg .twitter-typeahead {
    display: table-cell !important;
}
.twitter-typeahead .tt-hint {
    color: #999999;
}
