#zdbhome-container em {
    color: red;
    font-style: normal;
}

#zdbhome-container {
    background: @ZDBHOME_BACKGROUND@;
    padding: .5em;
}

#zdbhome-container-inner {
    border: 1px solid #a0afa0;
    margin: 0 auto;
    width: 671px;
    padding: 0;
    border-collapse: collapse;
}

#zdbhome-container-inner tr {
    margin: 0;
    padding: 0;
}

#zdbhome-container-inner td {
    text-align: left;
    vertical-align: top;
    padding: .5em;
    margin: 0;
}

#zdbhome-sidebar {
    background: #e0e7e0;
    border-left: 1px solid #a0afa0;
    width: 24em;
    color: #444;
    font-size: .9em;
/*    line-height: 135%;*/
}

#zdbhome-sidebar h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: .2em;
    padding-bottom: .2em;
}

#zdbhome-sidebar h3 a {
    color: #0F4351;
}

#zdbhome-sidebar a,
#zdbhome a:visited {
    text-decoration: none;
    color: #006666;
}

#zdbhome-sidebar .divider-above {
    margin-top: .3em;
}

#zdbhome-sidebar ul {
    list-style: none;
    text-indent: -.7em;
    margin-top: 0;
    margin-left: 0;
    padding-left: 1em;
}

#zdbhome-fishimg {
    border: 2px solid black;
}

#zdbhome-primary {
    background: #c0cac0;
    /*
    line-height: 130%;
    */
}

#zdbhome-primary a,
#zdbhome-primary a:visited {
    text-decoration: none;
    color: #0F4351;
}

#zdbhome-primary .divider-above {
    margin-top: .3em;
}

#zdbhome-primary ul {
    list-style: none;
    text-indent: -.5em;
    margin-top: 0;
    margin-left: 0;
    padding-left: .5em;
}

#zdbhome-primary ul ul li {
    list-style: none;
    text-indent: -.8em;
    margin-top: 0;
    margin-left: 0;
    font-size: 14px;
    padding-left: .5em;
}

#zdbhome-primary strong {
    font-size: 16px;
}

#zdbhome-search {
    background-color: #ECF1EC;
    border-bottom: 1px solid #a0afa0;
}

#zdbhome-search .fa-question-circle {
    color: #006666;
}

#zdbhome-search label {
    font-weight: bold;
    opacity: 0.6;
    font-size: 16px;
}

.search-form-input {
    margin-left: 5px;
    width: 400px;
}

#quicksearchBox { display: none; }

#header-extras {
    position: absolute;
    top: 32px ;
    right: 95px;
    font-weight: 500;

    z-index:1000;
}

#header-extras a, #header-extras a:visited { color: #066; }

.btn-search {
    position:relative;
    top: -1px;
}

.agr-logo-container {
    text-align: center;
}
.agr-logo-container img {
    width: 65%;
}