a { text-decoration: none; }

.sidebar, .content, .header .acknowledgement {
    font-family: arial, sans-serif;
}

body {
    font-family: arial, sans-serif;
    min-width: 600px;
    margin-top: 81px;
    margin-left: 0;
    margin-right: 0;

    background: @SITE_BACKGROUND@ ;

}


hr {
    background-color: #FFFFFF;
    border: 0;
    height: 1px;
    width: 80%;
}

.allcontent {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 4px;
    padding-bottom: 1em;
    background: white;
}

.staticcontent {
/* this isn't the best, but it keeps all the static pages behaving properly */
    font-size: 9pt;
}

.show_pubs a {
    text-decoration: none;

}

.show_pubs {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 1em;
    text-indent: -1em;
}

table.header {
    vertical-align: top;
    text-align: left;
}

table.search {
    vertical-align: top;
    text-align: left;
    background-color: #FFFFFF;
    border: 0;
}

td.half_width {
    vertical-align: top;
    background-color: #FFFFFF;
}

td.full_width {
    vertical-align: top;
    background-color: #FFFFFF;
}

td.resultcount {
    vertical-align: top;
    text-align: right;
    background-color: #FFFFFF;
}

td.titlebar {
    vertical-align: middle;
    text-align: left;
    background-color: #CCCCCC;

}

td.submitbar {
    vertical-align: top;
    text-align: left;
    background-color: #CCCCCC;

}

/** style for auto suggestion **/

.suggestion_list {
    font-size: 9pt;
    background: white;
    border: 1px solid;
    padding: 4px;
}

.suggestion_list ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.suggestion_list a {
    text-decoration: none;
    color: navy;
}

.suggestion_list .selected {
    background: navy;
    color: white;
}

.suggestion_list .selected a {
    color: white;
}

#autosuggest {
    display: none;
}

table.clonedata td {
    padding: 5px;
}

table.data_manager {
    width: 100%;
    border-collapse: collapse;
    background: #eee;
}

table.data_manager tr {
    text-align: center;
}

table.data_manager td {
    text-align: center;
    font-size: small;
    padding: .3em;
}

table.data_manager a.root {
    color: red
}

/*** gene name & abbrev ***/

.genedom {
    font-style: italic;
}

/*** construct name & abbrev ***/

.construct {
    font-style: italic;
}

/*** non-gene name & abbrev - just a placeholder for now ***/

.nongenedommarker {
    font-style: normal;
}

/*** mutant name & abbrev  ***/

.mutant {
    font-style: italic;
}

/*** wildtype name & abbrev ***/

.wildtype {
    font-style: normal;
}


/*** for pure text, to put it in a column that doesn't stretch
     across the entire display - since that's a pain to read ***/

.generic-text-column {
    max-width: 600px;
}

/*** Your Input Welcome form ***/
.yourinputwelcome {
    float: right;
    margin: .3em;
}

/** error messages for forms **/
.error {
    color: red;
    display: block;
}

/** error messages for forms **/
.error-inline {
    color: red;
}

/** indicates that it is updated **/
.dirty{
    color: darkgreen;
    background-color: lightblue;
}


/* generated by HTML::Prototype library */
div.auto_complete {
    width: 350px;
    height: 400px;
    overflow: auto;
    background: #fff;
    border: 1px solid #888;
    opacity: 0;
}

div.auto_complete ul {

    margin: 0;
    padding: 0;
    width: 99%;
    list-style-type: none;
}

div.auto_complete ul li {
    margin: 0;
    padding: 3px;
    font-size: .7em;
}

div.auto_complete ul li.selected {
    background-color: #ffb;
}

div.auto_complete ul strong.highlight {
    color: #800;
    margin: 0;
    padding: 0;
}

.search-result-table-header {
    background: rgb(204, 204, 204) none repeat scroll 0%;
    font-weight: bold;
}

.bold {
    font-weight: bold;
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.right-align-box {
    float: right;
}

.bold-red {
    font-weight: bold;
    color: red;
    text-align: center;
}

.green {
    color: green;
    text-align: center;
}

.phenotype-normal {
    color: #33cc99;
    text-align: center;
    font-weight:bold;
}

.curation-filter{
    background-color: #33CC99;
    text-align: center;
    font-weight:bold;
}

span.highlight {
    background: #ffb;
}

.search-result-table-entries {
    background: #EEEEEE;
    font-weight: normal;
}

.small-curation-box {
    overflow: auto;
    height: 150px;
    border: 1px solid black;
    width: 98%;
    margin-left: 1%;
}

.medium-curation-box {
    overflow: auto;
    height: 350px;
    border: 1px solid black;
    width: 98%;
    margin-left: 1%;
}

.large-curation-box {
    overflow: auto;
    height: 650px;
    border: 1px solid black;
    width: 98%;
    margin-left: 1%;
}

.unlimited-curation-box {
    overflow: hidden;
    border: 1px solid black;
    width: 98%;
    margin-left: 1%;
}

.curation-box-control-text {
    text-decoration: none;
    font-size: 75%;
}

.showHideLink{
    text-decoration: underline ;
    font-size: 75%;
    color: blue;
    vertical-align: bottom;
}

a.small-new-link:link {
    text-decoration: none;
    font-size: 75%;
    color: blue;
}

a.small-new-link:visited {
    text-decoration: none;
    font-size: 75%;
    color: blue;
}

a.small-new-link:hover {
    text-decoration: none;
    font-size: 75%;
    color: green;
}

#modal_container {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #666;
    overflow: auto;
    font-family: "Lucida Grande", Verdana;
    font-size: 12px;
    color: #333;
    text-align: left;
}

#modal_container.test {
    background-color: #900;
    color: #fff;
    padding: 30px;
    text-align: center
}

#modal_overlay {
    background-color: #000;
}

a.external {
    background: transparent url(/images/external.png) no-repeat scroll right center;
    padding-right: 13px;
}

img.blast-key {
    position: relative;
    bottom: -0.3em;
}

img.blast {
    position: relative;
    vertical-align: top;
    bottom: 0.1em;
}

.indented-section {
    margin-left: 18pt;
}

img.clickable {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
    color: blue;
}

.clickable-error {
    cursor: pointer;
    color: red;
}

.secretly-clickable {
    cursor: pointer;
}

.table-header {
    background-color: #cccccc;
}

.experiment-selected {
    background-color: #CCFFFF;
}

.experiment-duplicate {
    background-color: #CCCCFF;
}

.term-unspecified {
    color: orange;
}

.red-modifier {
    color: red;
    font-style: italic;
}

.red {
    color: red;
}

.red-modifier-hyperlink a {
    color: red;
    font-style: italic;
}

.left-top-aligned {
    text-align: left;
    vertical-align: top;
}

.nowrap {
    white-space: nowrap;
}

.autocomplete-plain {
    font-size: 8pt;
}

/*.gwt-SuggestBoxPopup {*/
    /*background: gray;*/
    /*font-size:8pt;*/
/*}*/

/*.gwt-SuggestBoxPopup {*/
    /*border: 1px solid black;*/
    /*background-color: white;*/
/*see fogbugz 5183*/
/*overflow: auto; */
    /*height: auto;*/
    /*max-height: 50em ;*/
    /*min-width: 100px ;*/
    /*font-size: 8pt;*/
/*}*/

.gwt-Hyperlink {
    display: inline;
}

.gwt-HTML {
    display: inline-block;
}

.phenotype-table {
    line-height:90%;
}

.text-changed{
    color: red;
}

.gwt-editbox{
    background-color: #eee;
}

table.gwt-stack-composite {
    background-color: #eee;
}


table.gwt-stack-composite td {
    padding: 1px;
}

table.gwt-stack-composite gwt-delete-button {
    margin-right: 5px;
}

.dots {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted
}

.reno-reversed-strand{
    background-color: #deb887;
    display: inline-block;
}

.reno-same-strand{
    background-color: white;
    display: inline-block;
}

td.reno-reversed-strand{
    background-color: #deb887;
    display: table-cell; 
}

td.reno-same-strand{
    background-color: white;
    display: table-cell; 
}


    form fieldset { border-width: 0; }

    .namesearchLabel { font-weight: bold;   }
    .multisearchLabel { font-weight: bold; }
    .selectLabel { font-weight: bold; }
    .filterLabel { ; }
    .accessoryLabel { font-size: .75em; }
    .termLabel {  font-size: .75em;
                  float: right;
                  vertical-align: middle;
    }

table.searchform td, table.searchform th { vertical-align: top}
table.searchform th { text-align: left ; width: 5%; white-space: nowrap}
