RELEASE_NUMBER
RefSeqCatalog.gz
debug1
debug10
debug12
debug13
debug14
debug15
debug16
debug17
debug2
debug3
debug4
debug5
debug5a
debug6
debug9
gene2accession.gz
gene2vega.gz
length.unl
length2.unl
length3.unl
loadLog1
loadLog2
logNCBIgeneLoad
ncbi_matches_through_ensembl.csv
ncbi_test.pl
noLength.unl
overall-load-log.txt*
prepareLog1
prepareLog2
referenceProteinDeletes.unl
reportNonLoadPubGenPept
reportNtoN
reportNtoOne
reportOneToN
reportOneToZero
reportStatistics
reportZDBgeneIdWithMultipleVegaIds
seq.fasta
tests/
toDelete.unl
toLoad.unl
toMap.unl
toPreserve.unl
zf_gene_info.gz
