<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Load Flank Seq
Set environment variable FORCE_FULL_UPDATE to true to force a full update of the flank seq data.
Set FEATURE_ZDBID to a feature ID to run for a single feature only.
Otherwise, it will update only the new data each day.  Once per week, the job will run the full update.
  </description>
  <keepDependencies>false</keepDependencies>
  <properties>
      <hudson.model.ParametersDefinitionProperty>
          <parameterDefinitions>
              <hudson.model.StringParameterDefinition>
                  <name>FEATURE_ZDBID</name>
                  <description>Leave blank for default logic. If specified, will only apply changes to the given feature</description>
                  <defaultValue></defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.BooleanParameterDefinition>
                  <name>FORCE_FULL_UPDATE</name>
                  <description>Check this option to run a full update. Otherwise, it only runs through changes from the last 48 hours.</description>
                  <defaultValue>false</defaultValue>
                  <trim>true</trim>
              </hudson.model.BooleanParameterDefinition>
          </parameterDefinitions>
      </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec></spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>$TARGETROOT</customWorkspace>
  <builders>
    <hudson.tasks.Ant plugin="ant@1.2">
      <targets>load-flank-seq -DjobName=Load-Flank-Seq_w</targets>
      <buildFile>$TARGETROOT/server_apps/DB_maintenance/build.xml</buildFile>
      <properties>FORCE_FULL_UPDATE=false</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>server_apps/DB_maintenance/report_data/Load-Flank-Seq_w/Load-Flank-Seq_w.*</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.35.1">
      <recipientList></recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <recipientList>@SUCCESS-RECIPIENT-LIST@</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body></body>
            <sendToDevelopers>false</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList>@FAILURE-RECIPIENT-LIST@</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body></body>
            <sendToDevelopers>false</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>text/plain</contentType>
      <defaultSubject>[Jenkins] ${PROJECT_NAME}: ${BUILD_STATUS}: [${INSTANCE}]</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>${DB_OWNER}@zfin.org</replyTo>
      <saveOutput>false</saveOutput>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
  </buildWrappers>
</project>
