nc0809.flat
nc0809.flat.gz.1
nc0809_est_hs.fa
nc0809_est_ms.fa
nc0809_est_zf.fa
nc0809_gb_hs.fa
nc0809_gb_ms.fa
nc0809_gb_zf.fa
nc0809_gss_zf.fa
nc0809_hs_dna.fa
nc0809_hs_mrna.fa
nc0809_htg_zf.fa
nc0809_ms_dna.fa
nc0809_ms_mrna.fa
nc0809_zf_acc.unl
nc0809_zf_dna.fa
nc0809_zf_mrna.fa
nc0809_zf_rna.fa
nc_zf_acc.unl
