<?xml version='1.1' encoding='UTF-8'?>
<project>
    <actions/>
    <description>Runs the preload script for the uniprot load. &#xd;
        &#xd;
    </description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <jenkins.model.BuildDiscarderProperty>
            <strategy class="hudson.tasks.LogRotator">
                <daysToKeep>-1</daysToKeep>
                <numToKeep>-1</numToKeep>
                <artifactDaysToKeep>-1</artifactDaysToKeep>
                <artifactNumToKeep>-1</artifactNumToKeep>
            </strategy>
        </jenkins.model.BuildDiscarderProperty>
        <EnvInjectJobProperty plugin="envinject@1.89">
            <info>
                <propertiesFilePath>$SOURCEROOT/commons/env/$INSTANCE.env</propertiesFilePath>
                <propertiesContent>#You can use these flags for debugging script. See the comments in header of runUniprotPreload.sh (https://github.com/ZFIN/zfin/blob/ee2baff7a44fd263a9c6117ca2cf0b00562908ae/server_apps/data_transfer/SWISS-PROT/runUniprotPreload.sh#L3-L7)
SKIP_DOWNLOADS=
SKIP_MANUAL_CHECK=
SKIP_CLEANUP=
SKIP_SLEEP=
ARCHIVE_ARTIFACTS=
SKIP_PRE_ZFIN_GEN=
                </propertiesContent>
                <loadFilesFromMaster>false</loadFilesFromMaster>
            </info>
            <on>true</on>
            <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
            <keepBuildVariables>true</keepBuildVariables>
            <contributors/>
        </EnvInjectJobProperty>
    </properties>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <customWorkspace>$TARGETROOT</customWorkspace>
    <builders>
        <hudson.tasks.Shell>
            <command>cd $TARGETROOT/server_apps/data_transfer/SWISS-PROT/ &amp;&amp; runUniprotPreload.sh
            </command>
            <configuredLocalRules/>
        </hudson.tasks.Shell>
    </builders>
    <publishers>
        <hudson.tasks.ArtifactArchiver>
            <artifacts>server_apps/data_transfer/SWISS-PROT/ccnote,server_apps/data_transfer/SWISS-PROT/*.ontology,server_apps/data_transfer/SWISS-PROT/*2go,server_apps/data_transfer/SWISS-PROT/prob*,server_apps/data_transfer/SWISS-PROT/okfile,server_apps/data_transfer/SWISS-PROT/ok2file,server_apps/data_transfer/SWISS-PROT/pubmed_not_in_zfin,server_apps/data_transfer/SWISS-PROT/*.unl,server_apps/data_transfer/SWISS-PROT/*.txt,server_apps/data_transfer/SWISS-PROT/*.dat</artifacts>
            <allowEmptyArchive>false</allowEmptyArchive>
            <onlyIfSuccessful>false</onlyIfSuccessful>
            <fingerprint>false</fingerprint>
            <defaultExcludes>true</defaultExcludes>
            <caseSensitive>true</caseSensitive>
            <followSymlinks>true</followSymlinks>
        </hudson.tasks.ArtifactArchiver>
    </publishers>
    <buildWrappers>
        <EnvInjectBuildWrapper plugin="envinject@1.89">
            <info>
                <propertiesFilePath>$TARGETROOT/home/WEB-INF/zfin.properties</propertiesFilePath>
                <loadFilesFromMaster>false</loadFilesFromMaster>
            </info>
        </EnvInjectBuildWrapper>
    </buildWrappers>
</project>