<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Runs the preload script for the uniprot load.  &#xd;
&#xd;

  </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <EnvInjectJobProperty plugin="envinject@1.89">
      <info>
        <propertiesFilePath>$SOURCEROOT/commons/env/$INSTANCE.env</propertiesFilePath>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <contributors/>
    </EnvInjectJobProperty>
      <hudson.model.ParametersDefinitionProperty>
        <parameterDefinitions>
          <hudson.model.StringParameterDefinition>
            <name>SKIP_DOWNLOADS</name>
            <description>Do not download anything and instead assume files exist locally (will exit if no file exists).
              Pseudo boolean parameter. Pass empty value for false, pass a &quot;1&quot; for true.</description>
            <defaultValue></defaultValue>
            <trim>false</trim>
          </hudson.model.StringParameterDefinition>

          <hudson.model.StringParameterDefinition>
            <name>SKIP_MANUAL_CHECK</name>
            <description>Do not scan uniprot for IDs gone bad.
              Pseudo boolean parameter. Pass empty value for false, pass a &quot;1&quot; for true.</description>
            <defaultValue></defaultValue>
            <trim>false</trim>
          </hudson.model.StringParameterDefinition>

          <hudson.model.StringParameterDefinition>
            <name>SKIP_CLEANUP</name>
            <description>Do not remove old files. (Useful for troubleshooting after a run.)
              Pseudo boolean parameter. Pass empty value for false, pass a &quot;1&quot; for true.</description>
            <defaultValue></defaultValue>
            <trim>false</trim>
          </hudson.model.StringParameterDefinition>

          <hudson.model.StringParameterDefinition>
            <name>SKIP_SLEEP</name>
            <description>Skip step for sleeping for 500 seconds at various parts.
              Pseudo boolean parameter. Pass empty value for false, pass a &quot;1&quot; for true.</description>
            <defaultValue></defaultValue>
            <trim>false</trim>
          </hudson.model.StringParameterDefinition>

          <hudson.model.StringParameterDefinition>
            <name>ARCHIVE_ARTIFACTS</name>
            <description>Save a copy of all generated artifacts in subdirectory called archives/$TIMESTAMP
              Pseudo boolean parameter. Pass empty value for false, pass a &quot;1&quot; for true.</description>
            <defaultValue></defaultValue>
            <trim>false</trim>
          </hudson.model.StringParameterDefinition>

          <hudson.model.StringParameterDefinition>
            <name>SKIP_PRE_ZFIN_GEN</name>
            <description>skip the step of building pre_zfin.dat. Useful for troubleshooting if a pre_zfin.dat file is already in place.
              Pseudo boolean parameter. Pass empty value for false, pass a &quot;1&quot; for true.</description>
            <defaultValue></defaultValue>
            <trim>false</trim>
          </hudson.model.StringParameterDefinition>

        </parameterDefinitions>
      </hudson.model.ParametersDefinitionProperty>

  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>$TARGETROOT</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>cd $TARGETROOT/server_apps/data_transfer/SWISS-PROT/ &amp;&amp; runUniprotPreload.sh
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
<!--    <hudson.tasks.ArtifactArchiver>-->
<!--      <artifacts>server_apps/data_transfer/SWISS-PROT/*.txt</artifacts>-->
<!--      <latestOnly>false</latestOnly>-->
<!--      <allowEmptyArchive>false</allowEmptyArchive>-->
<!--    </hudson.tasks.ArtifactArchiver>-->
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.35.1">
      <recipientList>${DB_OWNER}@zfin.org</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <recipientList>${DB_OWNER}@zfin.org</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>false</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList>${DB_OWNER}@zfin.org ${ALL_FAILURE_REPORTS_EMAIL}</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>false</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>[Jenkins][${DOMAIN_NAME}]: ${PROJECT_NAME}: ${BUILD_STATUS}</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <attachBuildLog>true</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>${DB_OWNER}@zfin.org</replyTo>
      <saveOutput>false</saveOutput>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <EnvInjectBuildWrapper plugin="envinject@1.89">
      <info>
        <propertiesFilePath>$TARGETROOT/home/WEB-INF/zfin.properties</propertiesFilePath>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>