<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>



    <tx:annotation-driven/>

<!--
    <bean id="sessionFactory" class="org.zfin.framework.HibernateSessionCreator"/>
-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>org/zfin/filters.hbm.xml</value>
                <value>org/zfin/anatomy.hbm.xml</value>
                <value>org/zfin/antibody.hbm.xml</value>
                <value>org/zfin/expression.hbm.xml</value>
                <value>org/zfin/general.hbm.xml</value>
                <value>org/zfin/infrastructure.hbm.xml</value>
                <value>org/zfin/marker.hbm.xml</value>
                <value>org/zfin/mutant.hbm.xml</value>
                <value>org/zfin/publication.hbm.xml</value>
                <value>org/zfin/orthology.hbm.xml</value>
                <value>org/zfin/mapping.hbm.xml</value>
                <value>org/zfin/people.hbm.xml</value>
                <value>org/zfin/sequence.hbm.xml</value>
                <value>org/zfin/blast.hbm.xml</value>
                <value>org/zfin/reno.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.InformixDialect</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
            </props>
        </property>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.informix.jdbc.IfxDriver"/>
        <property name="url"
                  value="jdbc:informix-sqli://localhost:2002/fstdb:INFORMIXSERVER=wanda;IFX_LOCK_MODE_WAIT=5"/>
        <property name="username" value="zfinner"/>
        <property name="password" value="Rtwm4ts"/>
    </bean>

</beans>
