<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Port of the perl-based NCBI-Gene-Load to Java</description>
  <keepDependencies>false</keepDependencies>

  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>LOAD_NCBI_ONE_WAY_GENES</name>
          <description>Enable this flag to additionally add NCBI genes that have a link to ZFIN without an equivalent link back from ZFIN to NCBI.
          These are validated by having a shared ensembl id.  See ZFIN-8517 for details.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>

  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec></spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
<!--  <customWorkspace>$TARGETROOT</customWorkspace>-->
  <builders>
    <hudson.tasks.Shell>
      <command><![CDATA[
# working dir can be set to old path with:
# export WORKING_DIR=$TARGETROOT/server_apps/data_transfer/NCBIGENE/

# set working dir to jenkins workspace
export WORKING_DIR=$WORKSPACE

# clear the working directory
rm -rf $WORKING_DIR/legacy_reports
rm -f $WORKING_DIR/*

# optionally, copy the stored load files instead of downloading them
# cp /research/zarchive/load_files/NCBI-gene-load-archive/2025-07-30/* $WORKING_DIR

# Some options to skip steps for troubleshooting
# SKIP_DOWNLOADS means to use cached local files instead of downloading them
# export SKIP_DOWNLOADS=1

# EARLY_EXIT means quit the job before actually running the sql files against the DB (useful for checking expected results in .unl files)
# export EARLY_EXIT=1

# SKIP_EFETCH means do not run logic to "efetch" sequences from ncbi endpoint to build seq.fasta file for calculating sequence lengths
# export SKIP_EFETCH=1

# FORCE_EFETCH means to force run the efetch logic
# export FORCE_EFETCH=1

# Run the gradle task from source directory
cd $SOURCEROOT

# Option for troubleshooting: load the database from a backup
# gradle loaddb -DB=/research/zunloads/databases/zfindb/2025.07.28.1/2025.07.28.1.bak

# Optionally run liquibase (temporary for now until the DB is updated with the new tables marker_annotation_status, etc.)
# gradle liquibasePostBuild

# Run the NCBI gene load
gradle ncbiPort
        ]]>
      </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>report*,log*,*.unl,*Log*,debug*,*csv,*html,*json,*xlsx,*zip,*.danio.*.gz,gene2vega.gz,zf_gene_info.gz,seq.fasta*,*.txt</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>true</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.BuildTrigger>
      <childProjects>Load-Reference-Proteome</childProjects>
      <threshold>
        <name>FAILURE</name>
        <ordinal>2</ordinal>
        <color>RED</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.35.1">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList>@FAILURE-RECIPIENT-LIST@</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>false</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <recipientList>@SUCCESS-RECIPIENT-LIST@</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>false</sendToRecipientList>
            <attachmentsPattern>ncbi_report.html.zip</attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>[Jenkins][${INSTANCE}]: ${PROJECT_NAME}: ${BUILD_STATUS}</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>
