archives
zfin.dat*
zfinGeneDeleted.dat
zfinGenes.dat
spkw2go
spcheck.dbg.log
sp_check.pl.txt
spcheck.log
redGeneReport.txt
problemfile
prob0
prob1
prob2
prob3
prob4
prob5
prob6
prob7
prob8
prob9
prob10
pre_zfin.dat*
okfile
manuallyCuratedUniProtIDs.txt
manuallyCuratedUniProtIDsWithMultipleGenes.txt
interpro2go
ec2go
debugfile.dat
checkreport.txt
pubmed_not_in_zfin