version: '3.8'

services:
  compile:
    container_name: compile_container
    build: ./compile/
    profiles:
      - compile
    environment:
      PGHOST: db
      PGUSER: postgres
      SOLR_HOME: /var/solr
      SSH_AUTH_SOCK: /run/host-services/ssh-auth.sock
      SSH_USER: ${DOCKER_SSH_USER}
    volumes: 
      #- /opt/zfin/docker/www_homes/zfin.org:/opt/zfin/www_homes/zfin.org
      - www_data:/opt/zfin/www_homes/zfin.org
      - tls_certs:/opt/zfin/tls
      - catalina_base:/opt/zfin/catalina_bases/zfin.org
      - jenkins_data:/opt/zfin//www_homes/zfin.org/server_apps/jenkins/jenkins-home
      - ../:/opt/zfin/source_roots/zfin.org
      #- nfs-zunloads:/research/zunloads
      - ${DOCKER_DB_UNLOADS_PATH}:/opt/zfin/unloads/db
      - ${DOCKER_SOLR_UNLOADS_PATH}:/opt/zfin/unloads/solr
      - solr_data:/var/solr
      - ./pg_pass:/run/secrets/pg_pass
      - ${DOCKER_SSH_AUTH_SOCK}:/run/host-services/ssh-auth.sock
      - ~/.ssh/known_hosts:/home/gradle/.ssh/known_hosts
  db:
    container_name: pg_container
    build: ./postgresql/
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD_FILE: /run/secrets/pg_pass
      POSTGRES_INITDB_ARGS: "-E SQL_ASCII"
      POSTGRES_DB: zfindb
      POSTGRES_HOST_AUTH_METHOD: trust
    #ports:
    #  - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data/
      - ./pg_pass:/run/secrets/pg_pass:ro
  solr:
    container_name: solr_container
    build: ./solr/
    restart: always
    #ports:
    #  - "8988:8983"
    volumes:
      - solr_data:/var/solr
  httpd:
    container_name: httpd_container
    build: ./httpd/
    restart: always
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - www_data:/opt/zfin/www_homes/zfin.org
      - tls_certs:/opt/zfin/tls
      #- nfs-loadup:/opt/zfin/loadUp
      #- /etc/pki/tls/certs/incommon_intermediate_bundle.crt:/etc/pki/tls/certs/incommon_intermediate_bundle.crt,ro
      #- /etc/pki/tls/certs/zfin_2021.crt:/etc/pki/tls/certs/zfin_2021.crt,ro
      #- /etc/pki/tls/private/zfin_2021.key:/etc/pki/tls/private/zfin_2021.key,ro
      #- ./httpd/incommon_intermediate_bundle.crt:/etc/pki/tls/certs/incommon_intermediate_bundle.crt,ro
      #- ./httpd/zfin_2021.crt:/etc/pki/tls/certs/zfin_2021.crt,ro
      #- ./httpd/zfin_2021.key:/etc/pki/tls/private/zfin_2021.key,ro
      - certbot_data:/etc/letsencrypt
  certbot:
    container_name: certbot_container
    build: ./certbot/
    volumes:
      - certbot_data:/etc/letsencrypt
  tomcat:
    container_name: tomcat_container
    build: ./tomcat/
    restart: always
    environment:
      CATALINA_BASE: /opt/zfin/catalina_bases/zfin.org
      INSTANCE: docker
      JVM_OPTS: -Xms2048m -Xmx8192m -Xss2m
    volumes:
      - www_data:/opt/zfin/www_homes/zfin.org
      - catalina_base:/opt/zfin/catalina_bases/zfin.org
      #- /opt/zfin/catalina_bases/keystore:/opt/apache/apache-tomcat/conf/keystore,ro
      - ./tomcat/keystore:/opt/apache/apache-tomcat/conf/keystore
  jenkins:
    container_name: jenkins_container
    build: ./jenkins/
    restart: always
    ports:
      - "8888:8080"

volumes:
  www_data:
  tls_certs:
  catalina_base:
  pg_data:
  solr_data:
  jenkins_data:
  certbot_data:
  nfs-zunloads:
    driver_opts:
      type: nfs
      o: addr=10.128.116.85,ro
      device: :/vol/unloads/
  nfs-loadup:
    driver_opts:
      type: nfs
      o: addr=10.128.116.85,ro
      device: :/vol/central/loadUp
