<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app 
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java/sun.com/xml/ns/j2ee web-app_2_4.xsd"
    version="2.4">

    <servlet>
        <servlet-name>SearchPage</servlet-name>
        <jsp-file>/category_search.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchPage</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <error-page>
        <exception-type>org.apache.lucene.queryParser.ParseException</exception-type>
        <location>/search_parse_error.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/internal_error.jsp</location>
    </error-page>
    
</web-app>


