<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mapperUrlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/ln54mapper">ln54Mapper</prop>
            </props>
        </property>

    </bean>

    <bean name="ln54Mapper" class="org.zfin.mapping.presentation.LN54MapperController">
        <property name="formView" value="ln54mapper-request.page"/>
        <property name="successView" value="ln54mapper-result.page"/>
        <property name="mailSender">
            <ref bean="mailSenderImpl"/>
        </property>
        <property name="validator">
            <ref bean="ln54validator"/>
        </property>
        <property name="commandClass" value="org.zfin.mapping.presentation.LN54MapperBean"/>
        <property name="commandName" value="formBean"/>
    </bean>

    <bean name="mailSenderImpl" class="org.zfin.framework.mail.IntegratedJavaMailSender"/>

    <bean name="ln54validator" class="org.zfin.mapping.presentation.LN54MapperValidator"/>

</beans>
