.gwt-SuggestBox { 
   border: 1x solid #666; 
   text-align: left;
}

.gwt-SuggestBoxPopup {
  border: 1px solid black;
  background-color: white;
  overflow: auto; height: 400px;
}

.gwt-SuggestBoxPopup .item {
  padding: 2px;
  font-size:0.9em;
  margin:0pt;
}

.gwt-SuggestBoxPopup .item-selected {
  background-color: #FFFFBB;
  padding: 2px;
}

/*same as zfin one, maybe should go there instead*/
.gwt-lookup-error{
    color: red;
    display: block;
}

