# With this configuration file you define webdriver specific variables
# that allow a connection to the database where the full configuration
# will be extracted by the webconfigs table.


# Global: variables defined here are webdriver global variables that 
#         are used for sizing and diagnostics.
#         (dbconnmax, maxcharsize, driverdir, debug_file, debug_level, 
#          anchorvar)
<global>
# 2000/08/15 Tried to entirely comment out the debug_file entry, but the 
# server then complains that the entry is mandatory, in contradiction to
# the documentation.  So, just redirect the trace info to /dev/null.
# debug_file /dev/null
# debug_level 0x0000
debug_file /tmp/webdriver.cgi.log.<!--|DOMAIN_NAME|-->
debug_level 0xFFFF


#anchorvar (global name) available to all app pages dynamically generated
#          by the webdriver.
#          typical values:
# anchorvar WEB_HOME/              # NSAPI
# anchorvar WEB_HOME/              # APACHE
# anchorvar WEB_HOME/webdriver     # CGI
# anchorvar WEB_HOME/drvisapi.dll  # ISAPI
anchorvar WEB_HOME/webdriver
</global>


# Setvar: variables defined here are variables that would usually be set in 
#         the environment before executing the client program, INFORMIXDIR and
#         INFORMIXSERVER should be set here if they are not set before starting 
#         the appropriate webserver
#
<setvar>
INFORMIXDIR		<!--|INFORMIX_DIR|-->
INFORMIXSERVER 		<!--|INFORMIX_SERVER|--> 
INFORMIXSQLHOSTS 	<!--|INFORMIX_DIR|-->/etc/<!--|SQLHOSTS_FILE|-->
DBDATE      		Y4MD-
</setvar>


# Map path=/virtual: variables set here are use to map a URL into a connection
#                    request, each map will require:
#  (mandatory)       database, user, config_name
#  (optional)        server, password, password_key
#

<map path=/<!--|CGI_BIN_DIR_NAME|-->>
database <!--|DB_NAME|-->
user <!--|APP_PAGE_USER|-->
password <!--|APP_PAGE_USER_PASSWORD|-->
password_key <!--|APP_PAGE_USER_PASSWORD_KEY|-->
config_name zfin
</map>

