<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.375.1</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>GROUP:com.cloudbees.plugins.credentials.CredentialsProvider.Create:systems</permission>
    <permission>GROUP:com.cloudbees.plugins.credentials.CredentialsProvider.Delete:systems</permission>
    <permission>GROUP:com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:systems</permission>
    <permission>GROUP:com.cloudbees.plugins.credentials.CredentialsProvider.Update:systems</permission>
    <permission>GROUP:com.cloudbees.plugins.credentials.CredentialsProvider.View:systems</permission>
    <permission>GROUP:hudson.model.Computer.Build:systems</permission>
    <permission>GROUP:hudson.model.Computer.Configure:systems</permission>
    <permission>GROUP:hudson.model.Computer.Connect:systems</permission>
    <permission>GROUP:hudson.model.Computer.Create:systems</permission>
    <permission>GROUP:hudson.model.Computer.Delete:systems</permission>
    <permission>GROUP:hudson.model.Computer.Disconnect:systems</permission>
    <permission>GROUP:hudson.model.Computer.Provision:systems</permission>
    <permission>GROUP:hudson.model.Hudson.Administer:systems</permission>
    <permission>GROUP:hudson.model.Hudson.Read:systems</permission>
    <permission>GROUP:hudson.model.Item.Build:curators</permission>
    <permission>GROUP:hudson.model.Item.Build:systems</permission>
    <permission>GROUP:hudson.model.Item.Cancel:curators</permission>
    <permission>GROUP:hudson.model.Item.Cancel:systems</permission>
    <permission>GROUP:hudson.model.Item.Configure:systems</permission>
    <permission>GROUP:hudson.model.Item.Create:systems</permission>
    <permission>GROUP:hudson.model.Item.Delete:systems</permission>
    <permission>GROUP:hudson.model.Item.Discover:curators</permission>
    <permission>GROUP:hudson.model.Item.Discover:systems</permission>
    <permission>GROUP:hudson.model.Item.Read:curators</permission>
    <permission>GROUP:hudson.model.Item.Read:systems</permission>
    <permission>GROUP:hudson.model.Item.Workspace:curators</permission>
    <permission>GROUP:hudson.model.Item.Workspace:systems</permission>
    <permission>GROUP:hudson.model.Run.Delete:systems</permission>
    <permission>GROUP:hudson.model.Run.Replay:systems</permission>
    <permission>GROUP:hudson.model.Run.Update:systems</permission>
    <permission>GROUP:hudson.model.View.Configure:systems</permission>
    <permission>GROUP:hudson.model.View.Create:systems</permission>
    <permission>GROUP:hudson.model.View.Delete:systems</permission>
    <permission>GROUP:hudson.model.View.Read:curators</permission>
    <permission>GROUP:hudson.model.View.Read:systems</permission>
    <permission>GROUP:hudson.scm.SCM.Tag:systems</permission>
  </authorizationStrategy>
  <securityRealm class="org.jenkinsci.plugins.oic.OicSecurityRealm" plugin="oic-auth@4.494.v6b_f419104767">
    <userIdStrategy class="jenkins.model.IdStrategy$CaseSensitive"/>
    <groupIdStrategy class="jenkins.model.IdStrategy$CaseSensitive"/>
    <clientId>@CLIENTID@</clientId>
    <clientSecret>@CLIENTSECRET@</clientSecret>
    <userNameField>preferred_username</userNameField>
    <fullNameFieldName>name</fullNameFieldName>
    <emailFieldName>email</emailFieldName>
    <groupsFieldName>groups</groupsFieldName>
    <disableSslVerification>false</disableSslVerification>
    <logoutFromOpenidProvider>false</logoutFromOpenidProvider>
    <escapeHatchEnabled>false</escapeHatchEnabled>
    <escapeHatchSecret>{AQAAABAAAABA6RfWZ4tAeuOTh8KEHCJ6WOYyc7kVKS8wtKxjBFVbCUI5Yg4ZjQZkjJ39VmLggf0HXhlMD5JgLIq/DrHKU6B+9laHssOw58dTdyXS4D7tyoM=}</escapeHatchSecret>
    <serverConfiguration class="org.jenkinsci.plugins.oic.OicServerWellKnownConfiguration">
      <wellKnownOpenIDConfigurationUrl>https://bouncer.zfin.org/realms/ZFIN/.well-known/openid-configuration</wellKnownOpenIDConfigurationUrl>
    </serverConfiguration>
    <rootURLFromRequest>false</rootURLFromRequest>
    <sendScopesInTokenRequest>false</sendScopesInTokenRequest>
    <pkceEnabled>false</pkceEnabled>
    <disableTokenVerification>false</disableTokenVerification>
    <nonceDisabled>false</nonceDisabled>
    <tokenExpirationCheckDisabled>false</tokenExpirationCheckDisabled>
    <allowTokenAccessWithoutOicSession>false</allowTokenAccessWithoutOicSession>
    <allowedTokenExpirationClockSkewSeconds>0</allowedTokenExpirationClockSkewSeconds>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <jdks>
    <jdk>
      <name>JDK 17</name>
      <home>${JAVA_HOME}</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>-1</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties>
    <org.jenkinsci.plugins.envinject.EnvInjectNodeProperty plugin="envinject@2.892.v25453b_80e595">
      <unsetSystemVariables>false</unsetSystemVariables>
      <propertiesFilePath>/opt/zfin/www_homes/zfin.org/home/WEB-INF/zfin.properties</propertiesFilePath>
    </org.jenkinsci.plugins.envinject.EnvInjectNodeProperty>
  </globalNodeProperties>
  <nodeRenameMigrationNeeded>true</nodeRenameMigrationNeeded>
</hudson>
