<div class="row">
    <div class="col-sm-6">
        <p class="text-muted" ng-hide="vm.aliases.length">
            <i>No aliases yet</i>
        </p>
        <table class="table" ng-show="vm.aliases.length">
            <tr ng-repeat="alias in vm.aliases">
                <td>
                    {{alias.alias}}
                    <!--<span class="small pull-right"><a href ng-click="vm.remove(supplier, $index)">Remove</a></span>-->
                </td>
            </tr>
        </table>
    </div>
</div>