<div class="row">
    <form class="form-single-row">
        <div class="form-group col-sm-3">
            <label>Alias</label>
            <input ng-model="vm.newAlias" class="form-control">
        </div>
        <div class="form-group col-sm-3">
            <label>Reference</label>
            <input pub-lookup class="form-control" ng-model="vm.newReference">
        </div>
        <div class="form-group col-sm-3">
            <button type="button" class="btn btn-primary"
                    ng-click="vm.add()"
                    ng-disabled="!vm.newAlias || !vm.newReference">
                Add new alias
            </button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-sm-6">
        <p class="text-muted" ng-hide="vm.aliases.length">
            <i>No aliases yet</i>
        </p>
        <table class="table" ng-show="vm.aliases.length">
            <tr ng-repeat="alias in vm.aliases">
                <td>
                    {{alias.alias}} ({{alias.references.length}})
                    <span class="small pull-right">
                        <a href ng-click="vm.edit(alias)">Edit References</a> |
                        <a href ng-click="vm.remove(alias, $index)">Remove</a>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>

<div bootstrap-modal show="vm.editing != null">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.closeEditModal()">&times;</button>
        <h4 class="modal-title">References for {{vm.editing.alias}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <input pub-lookup placeholder="Add Reference" class="form-control" ng-model="vm.editReference"/>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" ng-click="vm.addReference()">Add</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <table class="table">
                    <tr ng-repeat="reference in vm.editing.references">
                        <td>
                            <span class="small pull-right" ng-show="vm.editing.references.length > 1">
                                <a href ng-click="vm.removeReference(reference, $index)">Remove</a>
                            </span>
                            {{reference.zdbID}}<br>
                            <span class="text-muted">{{reference.title}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>