There are figures from publications with expression or phenotype data where
permission to use images was originally denied, but is now granted.

Please click on on the report with your name to see the figures.

For more information, including how to get figures to be ignored by this check,
see <a href="https://wiki.zfin.org/display/doc/FX+Permisssion+Check">here</a>
